{% extends "base.twig" %}

{% block head_extras %}
<style>
  .c-hero { background-color: #469BFF; background-image: url(https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/images/hero-programs.svg); }
</style>
{% endblock %}

{% block content %}
<div class="js-parallax">
  <header class="c-hero c-hero--large c-hero--long-text js-parallax-content">
    <div class="o-container js-parallax-text">
      <h1 class="c-hero__title c-hero__title--long">
        {% if post.category %}
        <span class="c-hero__sticker sticker">
          <svg aria-hidden="true" class="icon--medium"><use xlink:href="#icon-{{post.category.slug|replace({(['-',language_code]|join):''})}}"></use></svg>
        </span>
        {% endif %}
          {{post.plain_language_program_name}}
      </h1>
      <p class="c-hero__tagline desktop:w-6/12">
        {{post.program_name}}{% if post.acronym %} ({{post.acronym}}){% endif %}
        | {{post.government_agency}}
      </p>
      <p class="c-hero__tags">
      {% for term in post.terms('programs_cat') %}
        <a href="{{programs_link}}?category={{term.slug}}" class="button--pill">{{term.name}}</a>
      {% endfor %}
      {% for term in post.terms('age_group') %}
        <a href="{{programs_link}}?ages={{term.slug}}" class="button--pill button--pill--alt">{{term.name}}</a>
      {% endfor %}
    </p>
    </div>
  </header>
</div> <!-- /.js-parallax -->
<article class="o-container u-bottom-spacing-small js-sticky-container desktop:flex">
  <div class="o-article-sidebar desktop:w-sidebar">
    <div class="o-content-container--compact u-shift-up">
      <ol class="c-nav-list js-sticky js-section-set o-sticky-nav">
        {% if post.eligibility %}
          <li class="c-nav-list__item">
            <a href="#section-eligibility" data-section="section-eligibility" class="scroll js-section c-nav-list__link">
            {% if post.get_field('jump_nav_heading_-_eligibility') %}
              {{ __(post.get_field('jump_nav_heading_-_eligibility'), 'GUNY-Single-Program') }}
            {% else %}
              {{ __("Am I eligibile?", 'GUNY-Single-Program') }}
            {% endif %}<svg aria-hidden="true" class="icon--caret"><use xlink:href="#icon-caret-right"></use></svg></a>
          </li>
        {% endif %}
        {% if post.whats_needed or post.how_to_apply %}
          <li class="c-nav-list__item">
            <a href="#section-application" data-section="section-application" class="scroll js-section c-nav-list__link">
            {% if post.get_field('jump_nav_heading_-_application') %}
              {{ __(post.get_field('jump_nav_heading_-_application'), 'GUNY-Single-Program') }}
            {% else %}
              {{ __("I'm ready to apply", 'GUNY-Single-Program') }}
            {% endif %}<svg aria-hidden="true" class="icon--caret"><use xlink:href="#icon-caret-right"></use></svg></a>
          </li>
        {% endif %}
        {% if post.get_help %}
        <li class="c-nav-list__item">
          <a href="#section-help" data-section="section-help" class="scroll js-section c-nav-list__link">
            {% if post.get_field('jump_nav_heading_-_help') %}
              {{ __(post.get_field('jump_nav_heading_-_help'), 'GUNY-Single-Program') }}
            {% else %}
              {{ __("How can I get help?", 'GUNY-Single-Program') }}
            {% endif %}<svg aria-hidden="true" class="icon--caret"><use xlink:href="#icon-caret-right"></use></svg></a>
        </li>
        {% endif %}
      </ol>
    </div> <!-- /.o-content-container-compact -->

  </div> <!-- /.o-article-sidebar -->
  <div class="o-article js-sticky-article desktop:w-article">
    {% if post.banner_alert_show == 'Yes' %}
      <div class="alert mt-10">
        <div class="o-container">
          {{program_page_alert}}
        </div>
      </div>
    {% endif %}

    <div class="o-content-container--compact">
      {% if post.summary %}
        <section class="o-content-container--text s-wysiwyg u-top-spacing u-bottom-spacing-small" data-id="section-summary">
          {{post.get_field('summary')}}
        </section> <!-- /.o-content-container-text -->
      {% endif %}
      {% if post.heads_up %}
        <section class="o-content-container--text s-wysiwyg u-bottom-spacing-small" data-id="section-headsup">
          {{post.get_field('heads_up')}}
        </section> <!-- /.o-content-container-text -->
        <hr>
      {% endif %}
      {% if post.eligibility %}
        <section class="o-content-container--text s-wysiwyg u-top-spacing-small u-bottom-spacing-small" data-id="section-eligibility">
          <h2>{% if post.get_field('jump_nav_heading_-_eligibility') %}{{ __(post.get_field('jump_nav_heading_-_eligibility'), 'GUNY-Single-Program') }}{% else %}{{ __("Am I eligibile?", 'GUNY-Single-Program') }}{% endif %}</h2>
          {{post.get_field('eligibility')}}
        </section> <!-- /.o-content-container-text -->
        <hr>
      {% endif %}
      {% if post.whats_needed or post.how_to_apply %}
        <section data-id="section-application" class="u-top-spacing-small u-bottom-spacing-small">
          {% if post.whats_needed %}
          <div class="o-content-container--text s-wysiwyg{% if post.how_to_apply %} u-bottom-spacing-small{% endif %}">
            <h2>{% if post.get_field('whats_needed_heading') %}{{ __(post.get_field('whats_needed_heading'), 'GUNY-Single-Program') }}{% else %}{{ __("What will I need to apply?", 'GUNY-Single-Program') }}{% endif %}</h2>
            {{post.get_field('whats_needed')}}
          </div>
          <hr>
          {% endif %}
          {% if post.how_to_apply %}
          <div class="o-content-container--text s-wysiwyg{% if post.whats_needed %} u-top-spacing-small{% endif %}">
            <h2>{% if post.get_field('jump_nav_heading_-_application') %}{{ __(post.get_field('jump_nav_heading_-_application'), 'GUNY-Single-Program') }}{% else %}{{ __("I'm ready to apply", 'GUNY-Single-Program') }}{% endif %}</h2>
            {{post.get_field('how_to_apply')}}
          </div>
          {% endif %}
        </section> <!-- /.o-content-container-text -->
        <hr>
      {% endif %}
      {% if post.get_help %}
        <section id="section-help" class="u-top-spacing-small u-bottom-spacing-small o-content-container--text s-wysiwyg">
          <h2>{% if post.get_field('jump_nav_heading_-_help') %}{{ __(post.get_field('jump_nav_heading_-_help'), 'GUNY-Single-Program') }}{% else %}{{ __("How can I get help?", 'GUNY-Single-Program') }}{% endif %}</h2>
          {{post.get_field('get_help')}}
        </section> <!-- /.o-content-container-text -->
      {% endif %}
    </div>

    {# Tip #}
    {% if post.get_field('brain_building_tip_enable') == 'Yes' and brain_building_tip %}
      <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter" data-id="section-brain-building">
        <h2>{{ __('Brain Building', 'GUNY-Single-Age') }}</h2>
        <p class="c-block-list__text">{{ post.brain_building_pretext }}</p>
        <div class="c-block-list__inner">
          {% include ['components/card-brain-building-tip.twig'] with {post: brain_building_tip, logo: true, full: true} %}
        </div>

        <div class="text-center">
          <a href="{{tips_link}}?ages={{post.age_group.slug}}" class="button--outline button--outline--gray">{{ __('See more tips', 'GUNY-Single-Age') }}</a>
        </div>
      </section>
    {% endif %}

    {# Other programs #}
    {% if post.get_field('show_other_programs') == 'Yes' and post.related_posts %}
    <div class="o-content-container c-block-list c-block-list--shade">
      <h2>{{ __('Other', 'GUNY-Single-Program') }} {{post.category.name}} {{ __('Programs', 'GUNY-Single-Program') }}</h2>
      <div class="c-block-list__inner">
        {% for program in post.related_posts %}
          <div class="c-block-list__item">
            {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] with {post: program, agency: true} %}
          </div> <!-- /.c-block-list__item -->
        {% endfor %}
      </div> <!-- /.c-block-list__inner -->
      <div class="text-center">
        <a href="{{programs_link}}" class="button--outline button--outline--gray">{{ __('See all programs', 'GUNY-Single-Program') }}</a>
      </div>
    </div>
    {% endif %}

    {% if options.gunyc_enable_sms_programs == 'Yes' %}
      {% include 'components/form-share.twig' %}
    {% endif %}

    <div id='last-modified-date' class="o-content-container--compact">
      <div class="u-top-spacing-small">
        <div class="o-content-container--text s-wysiwyg text-gray">
          <p>{{ __('Updated', 'GUNY-Single-Program') }} {{post.post_modified|date}}</p>
        </div>
      </div>
    </div>

  </div> <!-- /.o-article -->
</article> <!-- /.o-container -->
{% endblock %}

{% block banner %}
  {# alert banner #}
  {% include 'objects/banner.twig' %}
{% endblock %}