{% extends "list.twig" %}

{% if post.get_field('lp_theme') == 'afterschool' %}
	{% set colors_primary = 'color-blue' %}
	{% set colors_secondary = 'color-blue-dark' %}
	{% set colors_tertiary = 'color-blue-mid' %}
  {% set colors_svg = 'svg-afterschool' %}
  {% set button_pill = 'button--pill-afterschool-archive' %}
	{% set button_pill_alt = 'button--pill-afterschool-archive--alt' %}
{% elseif post.get_field('lp_theme') == 'summer' %}
	{% set colors_primary = 'color-orange' %}
	{% set colors_secondary = 'color-orange-dark' %}
	{% set colors_tertiary = 'color-orange-light' %}
  {% set colors_svg = 'svg-summer' %}
  {% set button_pill = 'button--pill-summer-archive' %}
	{% set button_pill_alt = 'button--pill-summer-archive--alt' %}
{% else %}
  {% set colors_primary = 'color-blue-light' %}
  {% set colors_secondary = 'color-blue' %}
  {% set colors_tertiary = 'color-blue-dark' %}
  {% set button_pill = 'button--pill' %}
	{% set button_pill_alt = 'button--pill--alt' %}
{% endif %}

{% block head_extras %}

	<style type='text/css' id='c-hero'>
		.c-hero {
			background-image: url({{TimberImage(banner).src|resize(480,161)}});
		}
		@media(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			.c-hero {
				background-image: url({{TimberImage(banner).src|resize(960,322)}});
			}
		}
		@media(min-width:480px) {
			.c-hero {
				background-image: url({{TimberImage(banner).src|resize(700,235)}});
			}
		}
		@media(min-width:480px) and(-webkit-min-device-pixel-ratio: 2),
		(min-width:480px) and(min-resolution: 192dpi) {
			.c-hero {
				background-image: url({{TimberImage(banner).src|resize(1400,470)}});
			}
		}
		@media(min-width:700px) {
			.c-hero {
				background-image: url({{TimberImage(banner).src}});
				{{function('Templating\\get_focal_point', banner.id)}}
			}
		}
		.alert {
			background: rgba(255, 220, 84, 0.75);
			padding: 1.75rem 1rem;
		}
		@media(min-width:700px) {
			.alert {
				padding: 1.75rem 2.5rem;
			}
		}
		@media(min-width:1200px) {
			.alert {
				padding: 1.75rem 5rem;
			}
		}
		[v-cloak] {
			display: none;
		}
	</style>

{% endblock %}


{% block hero %}

	<div class="js-parallax">
		<header class="c-hero c-hero--large bg-{{colors_primary}} js-parallax-content">

			<div class="o-container js-parallax-text">
				<h1 class="c-hero__title">
					<span class="c-hero__sticker sticker bg-{{colors_primary}}">
						<svg aria-hidden="true" class="icon--medium">
							<use xlink:href="#icon-afterschool-guides"></use>
						</svg>
					</span>
					{{ page_title }}
				</h1>
				<div class="c-hero__tagline">
					{{ page_tagline }}
				</div>
			</div>
      {% include 'assets/svg/frill-after-school.svg' %}
		</header>
		{% if programs_alert != '' %}
			<div class="alert">
				<div class="o-container">
					{{programs_alert}}
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}

{# Sidebar #}
{% block list_sidebar %}
	{% set colors_head = 'bg-very-dark-blue' %}
	{% set colors_content = 'bg-strong-blue' %}
	<div
		class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false" v-cloak>

		{# program types #}
		<div class="c-list-box__item">
			<h3 class="js-accordion__header c-list-box__heading bg-{{colors_primary}}" id="type-filter-heading">{{ __(afterschool_category_heading, 'guny') }}</h3>
			<ul class="js-accordion__content c-list-box__content bg-{{colors_secondary}}" id="type-filter-panel">
				<li class="c-list-box__subitem bg-{{colors_secondary}}" v-if="afterschoolTypes!=null">
					<label class="checkbox">
						<input type="checkbox" v-model="checkedAllAfterschoolTypes" class="checkbox__field" @change="selectAllAfterschoolTypes">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						{{ __('Select All', 'guny') }}
					</label>
				</li>
				<li class="c-list-box__subitem bg-{{colors_secondary}}" v-for="category in afterschoolTypes">
					<label class="checkbox" :for="category.slug">
						<input type="checkbox" :id="category.slug" :value="category.slug" v-model="checkedAfterschoolType" class="checkbox__field">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						v{ category.name }
					</label>
				</li>
			</ul>
		</div>

		{# age groups #}
		<div class="c-list-box__item">
			<h3 class="js-accordion__header c-list-box__heading bg-{{colors_primary}}" id="age-filter-heading">{{ __(age_group_heading, 'guny') }}</h3>
			<ul class="js-accordion__content c-list-box__content bg-{{colors_secondary}}" id="age-filter-panel">

				<li class="c-list-box__subitem bg-{{colors_secondary}} hover:bg-{{colors_primary}}" v-if="ageGroups!=null">
					<label class="checkbox">
						<input type="checkbox" v-model="checkedAllAges" class="checkbox__field" @change="selectAllAges">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						{{ __('Select All', 'guny') }}
					</label>
				</li>

				<li class="c-list-box__subitem bg-{{colors_secondary}} hover:bg-{{colors_primary}}" v-for="age in ageGroups" v-if="age.name!='Everyone'">
					<label class="checkbox" :for="age.slug">
						<input type="checkbox" :id="age.slug" :value="age.slug" v-model="checkedAgeGroup" class="checkbox__field">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						v{ age.name }
					</label>
				</li>
			</ul>
		</div>

		{# borough #}
		<div class="c-list-box__item" v-if="posttype=='afterschool-guide'">
			<h3 class="js-accordion__header c-list-box__heading bg-{{colors_primary}}" id="age-filter-heading">{{ __(borough_heading, 'guny') }}</h3>
			<ul class="js-accordion__content c-list-box__content bg-{{colors_secondary}}" id="age-filter-panel">

				<li class="c-list-box__subitem bg-{{colors_secondary}} hover:bg-{{colors_primary}}" v-if="boroughNames!=null">
					<label class="checkbox">
						<input type="checkbox" v-model="checkedAllBoroughs" class="checkbox__field" @change="selectAllBoroughs">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						{{ __('Select All', 'guny') }}
					</label>
				</li>

				<li class="c-list-box__subitem bg-{{colors_secondary}}hover:bg-{{colors_primary}}" v-for="borough in boroughNames">
					<label class="checkbox" :for="borough.slug">
						<input type="checkbox" :id="borough.slug" :value="borough.slug" v-model="checkedBorough" class="checkbox__field">
						<svg class="checkbox__indicator">
							<use xlink:href="#icon-check"></use>
						</svg>
						v{ borough.name }
					</label>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
{# end of Sidebar #}


{% block post_list %}
	<section class="c-block-list" v-cloak>
		<div class="c-block-list--blue o-content-container u-sm-gutter loader"></div>
		<div class="c-block-list--blue o-content-container u-sm-gutter loader-mobile text-center" v-if="!errorMsg">
			<button>
				<a href="#programs-loaded" class="button--outline button--outline--white aligncenter">See v{ totalResults } programs</a>
			</button>
		</div>

		<div id="programs-loaded" class="c-block-list--shade o-content-container u-sm-gutter" v-if="!isLoading">
			<div class="c-block-list__item" v-for="post in programs">

				<div class="c-card c-card--subtitle-first">

					<a :href="post.link">
						<div class="c-card__sticker sticker bg-{{colors_primary}}" aria-hidden="true">
							<svg aria-hidden="true" class="icon--large">
								<title>v{post.afterschool_programs_cat[0].name}</title>
								<use xlink:href="#icon-summer-guides"></use>
							</svg>
						</div>
					</a>

					<div class="c-card__subtitle">
						v{ post.acf.s_dates}
					</div>

					<h3 class="c-card__title">
						<a :href="post.link" :title="post.acf.s_program_title_translated" rel="bookmark">
							v{ post.acf.s_program_title_translated }
						</a>
					</h3>


					<div class="c-card__body">
						v{ post.excerpt }
					</div>

					<p class="c-card__link">
						<svg role="img" class="icon--xxsmall" aria-hidden="true">
							<use xlink:href="#icon-map-marker"></use>
						</svg>
						<span v-if="post.location.google_map_link">
							<a :href="post.location.google_map_link" target="_blank" rel="nofollow">v{ post.location.location_name }</a>
						</span>
						<span v-else>
							Locations in all boroughs
						</span>
					</p>

					<div class="c-card__tags" v-if="post.afterschool_programs_cat">
						<span v-for="term in post.afterschool_programs_cat">
							<a :href="'?afterschool_category=' + term.slug" class="button--pill {{button_pill}}">v{ term.name }</a>
						</span>
						<span v-for="term in post.age_group">
							<a :href="'?ages=' + term.slug" class="button--pill bg-very-dark-blue {{button_pill_alt}}">v{ term.name }</a>
						</span>
					</div>
					<hr class="divider my-4" v-if="post.acf.s_cta_url!=''">
					<a class="c-card__cta" :href="post.acf.s_cta_url" target="_blank" rel="nofollow" v-if="post.acf.s_cta_new_window">v{ post.acf.s_cta_title }</a>
					<a class="c-card__cta" :href="post.acf.s_cta_url" v-if="!post.acf.s_cta_new_window">v{ post.acf.s_cta_title }</a>
				</div>
			</div>
			<p class="type--no-results" v-if="errorMsg">{{ __('Sorry, we don’t have any programs that match those filters. For more results, try different filters or <a href="/afterschool">reset your filters</a>.', 'guny') }}</p>
		</div>
	</section>

	{# pagination #}
	<div class="o-content-container--compact pagination" v-if="!isLoading" v-cloak>
		<div id="paginate" class="previous" v-if="programPage <= maxPages">
			<router-link class="button--outline button--outline--gray alignleft" v-if="programPage > 1" :to="{ query: { page: programPage-1 }}" @click.native="scrollToTop(); parseQuery();">{{ __('Previous', 'guny') }}</router-link>
		</div>

		<div class="paginate" v-if="programPage < maxPages">
			<router-link class="button--outline button--outline--gray alignright paginate" :to="{ query: { page: (programPage*1)+1 }}" @click.native="scrollToTop(); parseQuery();">{{ __('Next', 'guny') }}</router-link>
		</div>
	</div>

{% endblock %}

