{# {% extends "partials/teaser.twig" %} #}
<div class="c-tip-card">

  {% set category = post.terms('age_group')|first %}
  <div class="c-tip-card__header">
    <a href="{% if language_code !='en' %}/{{language_code}}{% endif %}/brainbuilding/{{post.slug}}">
      <span class="sticker sticker--small c-tip-card__sticker" aria-hidden="true">
        <svg class="icon--medium">
          <title>{{ category.name }}</title>
          <use xlink:href="#icon-{{post.terms('tip_category')[0].slug|replace({(['-',language_code]|join):''})}}"></use>
        </svg>
      </span>
    </a>

    <a href="{% if language_code !='en' %}/{{language_code}}{% endif %}/brainbuilding/{{post.slug}}" class="c-tip-card__title" title="{{ post.post_title }}">
      {{ post.brain_building_tip_name }}
    </a>
  </div>

  <div class="c-tip-card__content">
    {% if full %}
      {{ post.brain_building_tip }}
      <h3 class="u-top-spacing-small u-bottom-spacing-small">{{ __('See what your child is learning', 'GUNY-Tips') }}</h3>
      {{ post.brainy_background }}
    {% else %}
      {{ post.brain_building_tip|slice(0, 60) ~ '...'  }}
      <a href="{% if language_code !='en' %}/{{language_code}}{% endif %}/brainbuilding/{{post.slug}}" class="c-tip-card__link">{{ __('Try this tip', 'GUNY-Tips') }}<svg aria-hidden="true" class="icon--caret--small"><use xlink:href="#icon-caret-line-right"></use></svg></a>
      {% if post.terms('age_group') or post.terms('tip_category') %}
        <div class="c-card__tags">
          {% for term in post.terms('age_group') %}
            <a href="{{tips_link}}?ages={{term.slug}}" class="button--pill bg-{{term.slug|replace({(['-',language_code]|join):''})}}--primary">{{ term.name }}</a>
          {% endfor %}
          {% for term in post.terms('tip_category') %}
            <a href="{{tips_link}}?tip_category={{term.slug}}" class="button--pill">{{ term.name }}</a>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>

</div>
{# Powered by Vroom #}
{% if logo == true %}
<div class="c-tip-card__banner bg-color-brain-building-tip text-right">
  <svg class="icon--vroom">
    <title>{{__('Vroom', 'GUNYC')}}</title>
    <use xlink:href="#icon-vroom-logo-white{% if language_code != 'en' %}-{{language_code}}{% endif %}"></use>
  </svg>
</div>
{% endif %}