{% extends "list.twig" %}

{% block head_extras %}
  <style>
    .c-hero { background-image: url(https://cdn.jsdelivr.net/gh/CityOfNewYork/growingupnyc-patterns-development@master/dist/images/hero-full-splatter.svg); }
  </style>

  {% if language_code != 'en' %}
    {% include ['services/google-translate.twig'] %}
  {% endif %}
{% endblock %}

{% block hero %}
  <div class="js-parallax">
    <header class="c-hero c-hero--bg-secondary js-parallax-content">
      <div class="o-container js-parallax-text">
        <h1 class="c-hero__title">{{page_title}}</h1>
        <p class="c-hero__tagline desktop:w-6/12">{{page_tagline}}</p>
      </div>
    </header>
    {% if event_alert != '' %}
      <div class="alert">
        <div class="o-container">
          {{event_alert}}
        </div>
      </div>
    {% endif %}

  </div> <!-- /.js-parallax -->
  {# Google Translate #}
  <div id="google_translate_element" class="hidden"></div>
{% endblock %}

{% block list_sidebar %}
  {% include ['components/filters.twig'] %}
{% endblock %}

{% block before_list %}
  {{function('do_action', 'tribe_events_before_template')}}
{% endblock %}

{% block post_list %}
  {# Pager #}
  {# <h2 class="c-arrow-pager">

    {% if prev_month_url %}
    <a class="c-arrow-pager__arrow c-arrow-pager__arrow--left" href="{{prev_month_url}}" rel="prev">
      <svg role="img" class="icon--xsmall"><title>{{ __('Previous Month', 'guny-events') }}</title><use xlink:href="#icon-caret-left"></use></svg>
    </a>
    {% endif %}

    {{current_month_text}}

    {% if next_month_url %}
    <a class="c-arrow-pager__arrow c-arrow-pager__arrow--right" href="{{next_month_url}}" rel="next">
      <svg role="img" class="icon--xsmall"><title>{{ __('Next Month', 'guny-events') }}</title><use xlink:href="#icon-caret-right"></use></svg>
    </a>
    {% endif %}

  </h2> #}

  {# Event List #}
  <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter">
    <h3 {% if language_code == 'es' %}style="text-transform: lowercase"{% endif %}>{{ event.date_header }}</h3>
    {# {% for post in event.posts %} #}
    <div class="c-block-list__item" v-for="post in posts">
      
      <div class="c-card c-card--subtitle-first flex">

        <a :href="post.url">
          <div class="c-card__sticker sticker " aria-hidden="true">
            <span>
              <span class="event-day">v{ post.date_formatted.start_day }
              </span>
              <span class="event-month-date">v{ post.date_formatted.start_date }</span>
            </span>
          </div>
        </a>

        <div class="c-card__subtitle">
          <svg role="img" class="icon--xxsmall" aria-hidden="true">
            <title>Time:</title>
            <use xlink:href="#icon-clock-o"></use>
          </svg>
          <span class="whitespace-no-wrap">v{ post.date_formatted.time }</span>
        </div>

        <h3 class="c-card__title">
          <a :href="post.url" title="Virtual Babies and Books" rel="bookmark">
            v{ post.title }
          </a>
        </h3>


        <div class="c-card__body">
          v{ post.about_this_event }
        </div>

        <div class="c-card__tags" v-if="post.categories">
          <span v-for="term in post.categories">
            <div class="button--pill" v-if="term.slug != 'summer'">
              <span v-html="term.name"></span>
            </div>
          </span>
          <span v-for="term in post.age_group">
            <div class="button--pill button--pill--alt">
              <span v-html="term.name"></span>
            </div>
          </span>
        </div>
        
        <p class="c-card__link">
          <svg role="img" class="icon--xxsmall" aria-hidden="true">
            <use xlink:href="#icon-map-marker"></use>
          </svg>
          <a :href="post.google_map_link" target="_blank">v{ post.venue.venue }, v{ post.venue.city }
          </a>
        </p>
      </div>
    </div>
  </section>

  {# <section class="c-block-list c-block-list--shade o-content-container o-content-container--narrow u-sm-gutter">
    <p class="type--no-results">
      {{ __('No events found for those filter options. Check for similar events in', 'guny-events') }} <a href="{{next_month_url}}" rel="next">{{next_month_text}}</a> {{ __('or', 'guny-events') }} <a href="{{reset_filters_url}}">{{ __('reset your filters', 'guny-events') }}</a>.</p>
  </section>  #}

{% endblock %}

{% block after_list %}
  {{function('do_action', 'tribe_events_after_template')}}

  <div class="o-content-container--compact">

    {% if prev_url %}
    <a href="{{prev_url}}" class="button--outline button--outline--gray alignleft">{{ __('Previous', 'guny') }}</a>
    {% endif %}

    {% if next_url %}
    <a href="{{next_url}}" class="button--outline button--outline--gray alignright">{{ __('Next', 'guny') }}</a>
    {% endif %}

  </div>
{% endblock %}
