<form action="http://growingupnyc-cityofny.bsd.net/page/s/website-signup" name="signup" id="{{form_id}}" class="signup-form bsdtools-signup" novalidate>
  <h2>Get Updates</h2>
  <div class="signup-form__error bsdtools-error"></div>
  <div class="signup-form__input signup-form__input--long">
    <label for="{{form_id}}-email" class="signup-form__label">
      <span class="signup-form__label-content" data-content="Email">Email</span>
    </label>
    <input name="email" id="{{form_id}}-email" type="email" class="form-field signup-form__field" required>
  </div> <!-- /.signup-form__input -->
  <div class="signup-form__input signup-form__input--short">
    <label for="{{form_id}}-zip" class="signup-form__label">
      <span class="signup-form__label-content" data-content="Zip code">Zip code</span>
    </label>
    <input name="zip" id="{{form_id}}-zip" type="tel" class="form-field signup-form__field" required>
  </div> <!-- /.signup-form__input -->
  <fieldset class="signup-form__fieldset">
    <legend>I would like to receive updates for:</legend>
    <span class="signup-form__checkbox">
      <label class="checkbox">
        <input id="custom-1542_0" class="checkbox__field" name="__custom-1542[]" type="checkbox" value="Baby" required>
        <svg class="checkbox__indicator"><use xlink:href="#check"></use></svg>
        Baby
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox">
        <input id="custom-1542_1" class="checkbox__field" name="__custom-1542[]" type="checkbox" value="Toddler" required>
        <svg class="checkbox__indicator"><use xlink:href="#check"></use></svg>
        Toddler
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox">
        <input id="custom-1542_2" class="checkbox__field" name="__custom-1542[]" type="checkbox" value="Pre-Schooler" required>
        <svg class="checkbox__indicator"><use xlink:href="#check"></use></svg>
        Pre-Schooler
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox">
        <input id="custom-1542_3" class="checkbox__field" name="__custom-1542[]" type="checkbox" value="Grade-Schooler" required>
        <svg class="checkbox__indicator"><use xlink:href="#check"></use></svg>
        Grade-Schooler
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox">
        <input id="custom-1542_4" class="checkbox__field" name="__custom-1542[]" type="checkbox" value="Pre-Teen" required>
        <svg class="checkbox__indicator"><use xlink:href="#check"></use></svg>
        Pre-Teen
      </label>
    </span>
  </fieldset>
  <button type="submit" class="signup-form__button button--simple button--simple--alt">Sign Up</button>
</form>
