<form action="https://cityofnewyork.us18.list-manage.com/subscribe/post-json?u=d04b7b607bddbd338b416fa89&amp;id=a02dc5e68b&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="guny-signup" target="_blank" novalidate>
  <div class="c-signup-form__response">
    {% include 'partials/forms/forms-error-msgs.twig' %}
  </div>

  <div class="signup-form">
    <h2{% if full_width %} class="text-center"{% endif %}>
      {% if title %}
        {{ title }}
      {% else %}
        {{ __('Get Updates', 'GUNY-Email-Signup') }}
      {% endif %}
    </h2>
  </div>

  <div class="signup-form__error guny-error"></div>

  {# EMAIL #}
  <div class="signup-form__input {% if full_width %}signup-form__input--full{% else %}signup-form__input--long{% endif %}">
    <label for="mce-EMAIL" class="signup-form__label">
      <span class="signup-form__label-content" data-content="{{ __('Email', 'GUNY-Email-Signup') }}" title="{{ __('Email', 'GUNY-Email-Signup') }}">{{ __('Email', 'GUNY-Email-Signup') }}</span>
    </label>
    <input type="email" value="" name="EMAIL" class="email form-field signup-form__field" id="mce-EMAIL" required>
  </div>

  {# BOROUGH #}
  <div class="mc-field-group" style="display:none">
    <select name="BOROUGH" class="required" id="mce-BOROUGH" >
      <option value=""></option>
      <option value="Bronx">Bronx</option>
      <option value="Brooklyn">Brooklyn</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Queens">Queens</option>
      <option value="Staten Island">Staten Island</option>
    </select>
  </div>

  {# ZIPCODE #}
  <div class="signup-form__input {% if full_width %}signup-form__input--full{% else %}signup-form__input--short{%endif %}">

    <label for="mce-ZIP" class="signup-form__label">
      <span class="signup-form__label-content" data-content="{{ __('Zip code', 'GUNY-Email-Signup') }}" title="{{ __('Zip code', 'GUNY-Email-Signup') }}">{{ __('Zip code', 'GUNY-Email-Signup') }}</span>
    </label>
    <input name="ZIP" id="mce-ZIP" type="tel" class="form-field signup-form__field" required>
  </div>

  {# checkboxes #}
  <fieldset class="input-group signup-form__fieldset">
    <legend>{{ __('I would like to receive updates for:', 'GUNY-Email-Signup') }}</legend>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-0">
        <input id="mce-group[3429]-3429-0" class="checkbox__field" name="group[3429][1]" type="checkbox" value="1" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Baby', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-1">
        <input id="mce-group[3429]-3429-1" class="checkbox__field" name="group[3429][2]" type="checkbox" value="2" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Toddler', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-2">
        <input id="mce-group[3429]-3429-2" class="checkbox__field" name="group[3429][4]" type="checkbox" value="4" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Pre-Schooler', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-3">
        <input id="mce-group[3429]-3429-3" class="checkbox__field" name="group[3429][8]" type="checkbox" value="8" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Grade-Schooler', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-4">
        <input id="mce-group[3429]-3429-4" class="checkbox__field" name="group[3429][16]" type="checkbox" value="16" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Pre-Teen', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-5">
        <input id="mce-group[3429]-3429-5" class="checkbox__field" name="group[3429][32]" type="checkbox" value="32" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Teen', 'GUNY-Email-Signup') }}
      </label>
    </span>
    <span class="signup-form__checkbox">
      <label class="checkbox" for="mce-group[3429]-3429-6">
        <input id="mce-group[3429]-3429-6" class="checkbox__field" name="group[3429][64]" type="checkbox" value="64" required>
        <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
        {{ __('Young Adult', 'GUNY-Email-Signup') }}
      </label>
    </span>
  </fieldset>

  <button id="mc-embedded-subscribe" type="submit" class="signup-form__button button--simple button--simple--alt">{{ __('Sign Up', 'GUNY-Email-Signup') }}</button>
</form>
