{% set form_fields = [
  {
    label: __('Email', 'guny-contact-us'),
    type: 'email',
    name: 'email',
    required: true
  },
  {
    label: __('First name', 'guny-contact-us'),
    type: 'text',
    name: 'firstname',
    required: true
  },
  {
    label: __('Last name', 'guny-contact-us'),
    type: 'text',
    name: 'lastname',
    required: true
  },
  {
    label: __('Zip code', 'guny-contact-us'),
    type: 'text',
    name: 'zip',
    required: true
  },
  {
    label: __('Phone Number', 'guny-contact-us'),
    type: 'text',
    name: 'phone',
    required: false
  },
  {
    label: __('Organization Website', 'guny-contact-us'),
    type: 'text',
    name: 'custom-3518',
    required: false
  },
  {
    label: __('I\'d like to:', 'guny-contact-us'),
    type: 'checkbox_group',
    name: 'custom-3517',
    required: true,
    options: [
      {
        label: __('Invite Growing Up NYC to an event', 'guny-contact-us'),
        value: 'Invite Growing Up NYC to an event'
      },
      {
        label: __('Request materials to pick up', 'guny-contact-us'),
        value: 'Request materials to pick up'
      },
      {
        label: __('Partner with Growing Up NYC', 'guny-contact-us'),
        value: 'Partner with Growing Up NYC'
      },
      {
        label: __('General Inquiry', 'guny-contact-us'),
        value: 'General Inquiry'
      }
    ]
  },
  {
    label: __('Message', 'guny-contact-us'),
    type: 'textarea',
    name: 'custom-3520',
    required: false
  }
] %}

<form action="https://growingupnyc-our.cityofnewyork.us/page/s/contact-form" name="contact-form" id="{{ form_id }}-contact-form" class="contact-form bsdtools-contact-form" novalidate>

  <h2{% if full_width %} class="text-center"{% endif %}>
    {% if title %}
      {{ title }} {# translation comes from page content #}
    {% else %}
      {{ __('Contact Us', 'guny-contact-us') }}
    {% endif %}
  </h2>

  <div class="signup-form__error bsdtools-error"></div>

  {% for field in form_fields %}
    {% if field.type == 'text' or field.type == 'email' %}
      <div class="signup-form__input {% if full_width %}signup-form__input--full{% else %}signup-form__input--long{% endif %}">
        <label for="{{ form_id }}-{{ field.name }}" class="signup-form__label">
          <span class="signup-form__label-content" data-content="{{ field.label }}">{{ field.label }}</span>
        </label>
        <input name="{{ field.name }}" id="{{ form_id }}-{{ field.name }}" type="{{ field.type }}" class="form-field signup-form__field" {% if field.required %}required{% endif %}>
      </div>
    {% elseif field.type == 'textarea' %}
      <div class="signup-form__input {% if full_width %}signup-form__input--full{% else %}signup-form__input--long{% endif %}">
        <label for="{{ form_id }}-{{ field.name }}" class="signup-form__label">
          <span class="signup-form__label-content" data-content="{{ field.label }}">{{ field.label }}</span>
        </label>
        <textarea name="{{ field.name }}" id="{{ form_id }}-{{ field.name }}" class="form-field signup-form__field" {% if field.required %}required{% endif %}></textarea>
      </div>
    {% elseif field.type == 'checkbox_group' %}
      <fieldset class="signup-form__fieldset">
        <legend>{{ field.label }}</legend>
        {% for key, option in field.options %}
          <span class="signup-form__checkbox">
            <label class="checkbox">
              <input id="{{ field.name }}_{{ key }}" class="checkbox__field" name="__{{ field.name }}[]" type="checkbox" value="{{ option.value }}" {% if field.required %}required{% endif %}>
              <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
              {{ option.label }}
            </label>
          </span>
        {% endfor %}
      </fieldset>
    {% endif %}
  {% endfor %}

  <button type="submit" class="signup-form__button button--simple button--simple--alt">{{ __('Submit', 'guny-contact-us') }}</button>

</form>
