<div class="c-list-box__item">
  <h3 class="js-accordion__header c-list-box__heading" id="filter-heading">{{ __('Filter Results', translation_domain) }}</h3>
  <ul class="js-accordion__content c-list-box__content" id="filter-panel">
    <li>
      <a href="?s={{ s }}" class="c-list-box__subitem" aria-selected="{% if type == '' %}true{% else %}false{% endif %}">
        {{ __('All Results', translation_domain) }}
      </a>
    </li>
    {% for key, value in types %}
      {% if 'guide' in key %}
        {% set value = value | replace({ "Guides": "Guide" }) %}
      {% endif %}
      
    <li>
      <a href="?s={{ s }}&post_type={{ key }}" class="c-list-box__subitem" aria-selected="{% if type == key %}true{% else %}false{% endif %}" data-value="filter-{{ key }}">
        {{ __(value, 'guny') }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

