<section aria-hidden="true" class="o-overlay js-overlay animated" id="overlay-search">

  <div class="o-container-med">

    <div class="u-bottom-spacing">
    {{gen_search}}
      {% include 'partials/search-form.twig' %}
    </div>

    {# top posts for search by post type #}
    {% if search_widgets %}
      {{search_widgets}}
      {# EVENTS #}
      {# <section class="o-col__divider c-block-list">
            <h2 class="c-block-list__heading">
              {{ __('Events', 'guny') }}
              <a class="c-block-list__link" href="{{ site.url | trim('/') }}/events">{{ __('See all events', 'guny') }}<svg role="img" class="icon--caret--xxsmall" aria-hidden="small"><use xlink:href="#icon-caret-right"></use></svg></a>
            </h2> <!-- /.c-content-tout__heading -->
            <div class="c-block-list__inner o-row">
            {% for post in top_events %}
              <div class="o-col-3 c-content-tout">
                <h3 class="c-content-tout__title">
                  <a href="{{ post.path }}" title="{{ post.post_title }}" rel="bookmark">{{ post.post_title }}</a>
                </h3>
                <div class="c-content-tout__subtitle">
                  {% include 'partials/event-date.twig' %}
                </div> <!-- /.c-content-tout__subtitle -->
                {% if post.venue %}
                  <div class="c-content-tout__link">
                    {% include 'partials/event-link.twig' %}
                  </div>
                {% endif %}
              </div> <!-- /.o-col-3.c-content-tout -->
            {% endfor %}
            </div> <!-- /.o-col__row -->
          </section> #}
      <!-- /.o-col__divider -->

    {% endif %}
  </div> <!-- /.o-container-med -->
  <div class="u-top-spacing-small text-center">
		<a href="#search" data-toggle="overlay-search" data-toggle-class="fadeInDown" class="show-for-keyboard o-navigation__nav-link">{{__('Close Search', 'GUNYC')}}</a>
	</div>

</section> <!-- /.o-overlay -->