<div class="c-list-box__item">
  <h3 class="js-accordion__header c-list-box__heading" id="filter-heading">{{ __('Filter Results', 'guny-search') }}</h3>
  <ul class="js-accordion__content c-list-box__content" id="filter-panel">
    <li>
      <a href="?s={{ s }}" class="c-list-box__subitem" aria-selected="{% if type == '' %}true{% else %}false{% endif %}">
        {{ __('All Results', 'guny-search') }}
      </a>
    </li>
    {% for key, value in types %}
    <li>
      <a href="?s={{ s }}&post_type={{ key }}" class="c-list-box__subitem" aria-selected="{% if type == key %}true{% else %}false{% endif %}" data-value="filter-{{ key }}">
        {{ __(value, 'guny-search') }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>