<form role="search" method="get" class="search-form" action="/">
  <div class="form-field__icon-container">
    <input type="search" class="form-field form-field--large form-field--full-width c-hero__input" placeholder="{{ __('Search', 'guny') }}" name="s" value="{{ s }}" />
    <input type="hidden" name="post_type" value="{{ post_type }}" />
    <button type="submit" class="form-field__icon form-field__icon--large">
      <svg class="icon">
        <title>{{ __('Search', 'guny') }}</title>
        <use xlink:href="#icon-search"></use>
      </svg>
    </button>
    <a href="/?s={% if post_type %}&post_type={{ post_type }}{% endif %}"
       class="form-field__icon form-field__icon--large form-field__icon--weak"
       {% if s == '' %}
       style="display:none;"
       aria-hidden="true"
       {% endif %}
       >
      <svg class="icon">
        <title>{{ __('Clear', 'guny') }}</title>
        <use xlink:href="#icon-close"></use>
      </svg>
    </a>
  </div>
</form>