<div class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false" v-cloak>

    {# program types #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading {{colors_head}}" id="type-filter-heading">{{ __('Program Types', 'guny') }}</h3>
      <ul class="js-accordion__content c-list-box__content {{colors_content}}" id="type-filter-panel">
        <li class="c-list-box__subitem">
          <label class="checkbox" >
            <input type="checkbox" v-model="checkedAllAfterschoolTypes" class="checkbox__field" @click="selectAllAfterschoolTypes">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            {{ __('Select All', 'guny') }}
          </label>
        </li>
        <li class="c-list-box__subitem" v-for="category in afterschoolTypes">
          <label class="checkbox" :for="category.slug">
            <input type="checkbox"  :id="category.slug" :value="category.slug" v-model="checkedAfterschoolType" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ category.name }
          </label>
        </li>
      </ul>
    </div>

    {# age groups #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading {{colors_head}}" id="age-filter-heading">{{ __('Ages', 'guny') }}</h3>
      <ul class="js-accordion__content c-list-box__content {{colors_content}}" id="age-filter-panel">

        <li class="c-list-box__subitem">
          <label class="checkbox" >
            <input type="checkbox" value="true" v-model="checkedAllAges" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            {{ __('Select All', 'guny') }}
          </label>
        </li>

        <li class="c-list-box__subitem" v-for="age in ageGroups">
          <label class="checkbox" :for="age.slug">
            <input type="checkbox" :id="age.slug" :value="age.slug" v-model="checkedAgeGroup" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ age.name }
          </label>
        </li>
      </ul>
    </div>

    {# borough #}
    <div class="c-list-box__item" v-if="posttype=='afterschool-guide'">
      <h3 class="js-accordion__header c-list-box__heading {{colors_head}}" id="age-filter-heading">{{ __('Boroughs', 'guny') }}</h3>
      <ul class="js-accordion__content c-list-box__content {{colors_content}}" id="age-filter-panel">

        <li class="c-list-box__subitem">
          <label class="checkbox" >
            <input type="checkbox" value="true" v-model="checkedAllBoroughs" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            {{ __('Select All', 'guny') }}
          </label>
        </li>

        <li class="c-list-box__subitem" v-for="borough in boroughNames">
          <label class="checkbox" :for="borough.slug">
            <input type="checkbox" :id="borough.slug" :value="borough.slug" v-model="checkedBorough" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ borough.name }
          </label>
        </li>
      </ul>
    </div>


  </div>