{% extends "partials/teaser.twig" %}

{% block classes %}{{is_first ? "c-card--hero #{age_group.slug|sanitize}-gradient"}}{% endblock %}

{% block sticker %}
  {% set category = post.terms('programs_cat')|first %}
  {% if category %}
    <div class="c-card__sticker sticker" aria-hidden="true">
      <svg class="icon--large"><title>{{category.name}}</title><use xlink:href="#{{category.slug}}"></use></svg>
    </div>
  {% endif %}
{% endblock %}

{% block subtitle %}
  <p><strong>{{post.program_name}}{% if post.acronym %} ({{post.acronym}}){% endif %}</strong></p>
  <p>{{post.government_agency}}</p>
{% endblock %}

{% block tags %}
  {% for term in post.terms('programs_cat') %}
    <a href="/programs/?fwp_program_type={{term.slug}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('age_group') %}
    <a href="/programs/?fwp_ages={{term.slug}}" class="button--pill button--pill--alt">{{term.name}}</a>
  {% endfor %}
{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}
  <div>Post id : {{post.id}}</div>
{% endblock %}