{% extends "partials/teaser.twig" %}

{% block classes %}{{is_first ? "c-card--hero #{age_group.slug|sanitize|replace({'-es':''})}-gradient"}}{% endblock %}

{% block sticker %}
  {% set category = post.terms('trip_type')|first %}
  {% if category %}
    <div class="c-card__sticker sticker" aria-hidden="true">
      <svg class="icon--large"><title>{{category.name}}</title><use xlink:href="#{{category.slug|replace({'-es':''})}}"></use></svg>
    </div>
  {% endif %}
{% endblock %}

{% block subtitle_block %}
{% endblock %}

{% block tags %}
  {% for term in post.terms('trip_free_day_trip') %}
    <a href="/trip-free-day-trip/{{term.slug}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('trip_free_this_week') %}
    <a href="/trip-free-this-week/{{term.slug}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('trip_type') %}
    <a href="/trip-type/{{term.slug}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}
{# {{post|print_r}} #}
{% endblock %}

{% block link %}
  <a href="https://www.google.com/maps/place/{{post.map.address}}" target="_blank">{{post.map.address}}</a>
{% endblock %}