{% extends "partials/teaser.twig" %}

{% block classes %}{{is_first ? "c-card--hero gradient-#{age_group.slug|sanitize|replace({(['-',language_code]|join):''})}"}}{% endblock %}

{% block sticker %}
  {% if post.terms('programs_cat') %}
    {% set category = post.terms('programs_cat')|first %}
  {% else %}
    {% set category = post.programs_cat|first %}
  {% endif %}

  {% if category %}
    <a href="{{post.link}}">
      <div class="c-card__sticker sticker" aria-hidden="true">
        <svg class="icon--large"><title>{{ category.name }}</title><use xlink:href="#icon-{{ category.slug|replace({(['-',language_code]|join):''}) }}"></use></svg>
      </div>
    </a>
  {% endif %}
{% endblock %}

{% block subtitle %}
  <p><strong>{{post.program_name}}{% if post.acronym %} ({{post.acronym}}){% endif %}</strong></p>
  <p>{{post.government_agency}}</p>
{% endblock %}

{% block tags %}
  {% for term in post.terms('programs_cat') %}
    <a href="{{programs_link}}?category={{term.slug}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('age_group') %}
    <a href="{{programs_link}}?ages={{term.slug}}" class="button--pill button--pill--alt">{{term.name}}</a>
  {% endfor %}
{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}
{% endblock %}
