{% extends "partials/teaser.twig" %}

{% block classes %} c-card-inspiration__profile u-bottom-spacing{{is_first}}{% endblock %}

{% block title %}
{% endblock %}

{% block sticker %}
 {% set category = post.terms('inspiration_group')|first %}
{% endblock %}

{% block subtitle_block %}
{% endblock %}
{% block tags_block %}
{% endblock %}

{% block body %}
{# {{post.intro__overview}} #}
<section class="c-intro__img" style="background:url({{post.get_field('hero_banner').url}}) no-repeat center center; background-size: cover; {{ function('Templating\\get_focal_point', post.hero_banner) }}"></section>
<section class="c-featured-intro">{{post.intro__overview}}</section>
<hr>
<h2 class="c-intro__subheading u-top-spacing" id="{{post.get_field('page_top_heading')|replace({' ':'-'})}}">{{post.get_field('page_top_heading')}}</h2>
<section class="c-inspiration-qa__wrapper u-top-spacing-small">
{% for top in post.get_field('page_top') | slice(0,2) %}
	<div class="c-inspiration_qa">
		{{top.question_and_answer}}
	</div>
{% endfor %}
 	<a href="{{post.link}}" class="button--primary button--primary__curved button--primary__blue" href="{{post.get_field('button')}}">Read the full interview</a>
</section>
{% endblock %}
