{% extends "partials/teaser.twig" %}

{% block classes %}c-card--subtitle-first{% endblock %}

{% block sticker_content %}
  {% if post.multiday %}
  <span class="event-month-date">{{post.start_datetime|date('M j')}} -</span>
  <span class="event-month-date">{{post.end_datetime|date('M j')}}</span>
  {% else %}
  {{post.start_date_formatted}}
  {% endif %}
{% endblock %}

{% block subtitle %}
  {% include "partials/event-date.twig" %}
{% endblock %}

{% block tags %}
  {% if is_archive %}
    {% set event_link %}{{current_url}}{% endset %}
  {% elseif language == 'es' %}
    {% set event_link = '/es/events' %}
  {% else %}
    {% set event_link = '/events' %}
  {% endif %}

  {% for term in post.terms('tribe_events_cat') %}
  <a href="{{ event_link }}?cat_id={{ function('Wpml\\get_translated_term_id', term.ID, 'tribe_events_cat') }}"
     class="button--pill {% if function('Wpml\\get_translated_term_slug', term.ID, 'tribe_events_cat') == 'espanol' %}button--pill--es{% endif %}">
     {{ term.name }}
  </a>
  {% endfor %}

  {% for term in post.terms('age_group') %}
  <a href="{{ event_link }}?age_id={{ function('Wpml\\get_translated_term_id', term.ID, 'tribe_events_cat') }}{% if current_month %}&amp;eventDate={{ current_month }}{% endif %}"
     class="button--pill button--pill--alt">
      {{ term.name }}
  </a>
  {% endfor %}
{% endblock %}

{% block link %}
  {% if post.venue %}
  <p class="c-card__link">
    {% include 'partials/event-link.twig' %}
  </p>
  {% endif %}
{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}
{% endblock %}
