{% extends "partials/teaser.twig" %}

{% block classes %}c-card--subtitle-first{% endblock %}

{% block sticker %}
  <div class="c-card__sticker sticker bg-vivid-orange" aria-hidden="true">
    <svg aria-hidden="true" class="icon--large"><title>{{post.name}}</title>
      <use xlink:href="#icon-summer-guides"></use></svg>
  </div>
{% endblock %}

{% block subtitle %}
  {{ function('Templating\\get_dates', post.id) }}
{% endblock %}

{% block tags %}
  {% for term in post.terms('summer_programs_cat') %}
    <a href="/summer-programs/?summer_category={{term.slug}}" class="button--pill button--pill--alt bg-vivid-orange">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('age_group') %}
    <a href="/summer-programs/?ages={{term.slug}}" class="button--pill bg-bright-red bg-{{ term.name | lower}}--primary">{{term.name}}</a>
  {% endfor %}
{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}
{% endblock %}


{% block link %}

  <p class="c-card__link">
    <svg role="img" class="icon--xxsmall" aria-hidden="true">
    <use xlink:href="#icon-map-marker"></use>
  </svg>
    <span>
      {{ function('Templating\\get_location_description', post.id) }}
    </span>
  </p>
{% endblock %}
{% block cta %}
  {% if post.cta_href %}
  <hr class="c-card__cta-divider">
  <a class="c-card__cta" href="{{ post.cta_href }}" {% if post.cta_new_window %}target="_blank" rel="nofollow"{% endif %}>
    {{ post.cta_title }}
  </a>
  {% endif %}
{% endblock %}
