{% extends "partials/teaser.twig" %}

{% block classes %}c-card--subtitle-first{% endblock %}

{% block sticker_content %}
  {{post.start_date_formatted}}
{% endblock %}

{% block subtitle %}
  {% embed "partials/event-date.twig" %}
    {% block startDate %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block tags %}
  {% if is_archive %}
    {% set event_link %}{{current_url}}{% endset %}
  {% else %}
    {% set event_link = '/events' %}
  {% endif %}
  {% for term in post.terms('tribe_events_cat') %}
    <a href="{{event_link}}?cat_id={{term.id}}" class="button--pill">{{term.name}}</a>
  {% endfor %}
  {% for term in post.terms('age_group') %}
    <a href="{{event_link}}?age_id={{term.id}}" class="button--pill button--pill--alt">{{term.name}}</a>
  {% endfor %}
{% endblock %}

{% block link %}
  {% if post.venue %}
    <p class="c-card__link">
      {% include 'partials/event-link.twig' %}
    </p>
  {% endif %}
{% endblock %}
