<div class="c-card">
  <div class="c-card__sticker">
    {{post.start_date_formatted}}
  </div>
  <div class="c-card__subtitle">
    {% embed "partials/event-date.twig" %}
      {% block startDate %}
      {% endblock %}
    {% endembed %}
  </div>
  <h2 class="c-card__title">
  	<a href="{{post.link}}" title="{{post.title}}" rel="bookmark">
  		{{post.title}}
  	</a>
  </h2>
  <div class="c-card__body">
    {{post.post_content|excerpt(15)}}
  </div>
  {% if post.venue %}
    <p class="c-card__link">
      {% include 'partials/event-link.twig' %}
    </p>
  {% endif %}
</div>