<article class="post-grid__entry">
  <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" class="img-responsive">
  <h4><a href="{{post.link}}">{{post.title}}</a></h4>
  <p class="post-grid__summary">{{post.job_title}}</p>
</article> <!-- /.post-grid__entry -->