{% extends "partials/teaser.twig" %}

{% block classes %}{{is_first ? "c-card--hero #{age_group.slug|sanitize|replace({'-es':''})}-gradient"}}{% endblock %}

{% block sticker %}
  {% set category = post.terms('topic_group')|first %}
  {% if category %}
    <div class="c-card__sticker sticker bg-purple" aria-hidden="true">
      <svg class="icon--large"><title>{{category.name}}</title><use xlink:href="#icon-topic"></use></svg>
    </div>
  {% endif %}
{% endblock %}

{% block subtitle_block %}{% endblock %}

{% block body %}
  <p>{{post.post_excerpt ? post.post_excerpt : post.summary|excerpt(15)}}</p>
  <a href="{{post.link}}" class="button--primary button--primary__curved button--primary__purple" href="{{post.get_field('button')}}">Read More</a>

{% endblock %}
