{% extends "partials/teaser.twig" %}

{% block classes %}{{is_first}}{% endblock %}

{% block title %}
    <a href="{{post.link}}" title="{{post.title}}" rel="bookmark">
        {{post.prof_name}}, {{post.prof_age}}
    </a>
{% endblock %}

{% block sticker %}
 {% set category = post.terms('inspiration_group')|first %}
   <div class="c-card__sticker sticker bg-dark-blue" aria-hidden="true" style="background: url({{post.get_field('prof_img').url}}) center center no-repeat;"></div>
{% endblock %}

{% block subtitle_block %}
{% endblock %}
{% block tags_block %}
{% endblock %}

{% block body %}
	{{post.get_field('intro__overview')}}
	<a href="{{post.link}}" class="button--primary button--primary__curved button--primary__blue" href="{{post.get_field('button')}}">Read More</a>
{% endblock %}