<div class="c-card {% block classes %}{% endblock %}">
  {% block sticker %}
    {% if post.post_type == 'tribe_events' %}
      <a href="{{post.link}}">  
        <div class="c-card__sticker sticker" aria-hidden="true">
          {% block sticker_content %}{% endblock %}
        </div>
      </a>
    {% else %}
      <div class="c-card__sticker sticker" aria-hidden="true">
        {% block sticker_content %}{% endblock %}
      </div>
    {% endif %}
  {% endblock %}
  <h3 class="c-card__title">
    {% block title %}
    <a href="{{post.link}}" title="{{post.title}}" rel="bookmark">
      {{post.title}}
    </a>
    {% endblock %}
  </h3>
  {% block label %}
  {% if show_post_type %}
    <p class="c-card__label">
    {% if post.post_type == 'tribe_events' %}
      Event
    {% elseif post.post_type == 'age' %}
      Age Guide
    {% else %}
      {{post.post_type|replace({'_': ' '})|title}}
    {% endif %}
    </p>
  {% endif %}
  {% endblock %}
  {% block subtitle_block %}
  <div class="c-card__subtitle">
    {% block subtitle %}{% endblock %}
  </div>
  {% endblock %}
  {% block tags_block %}
  {% if post.terms %}
    <div class="c-card__tags">
    {% block tags %}
      {% for term in post.terms('age_group') %}
        <a href="{{term.link}}" class="button--pill button--pill--alt">{{term.name}}</a>
      {% endfor %}
    {% endblock %}
    </div>
  {% endif %}
  {% endblock %}
  <div class="c-card__body">
    {% block body %}
    {{post.post_excerpt ? post.post_excerpt : post.post_content|excerpt(15)}}
    {% endblock %}
  </div>
  {% block link %}{% endblock %}
</div>
