{% extends 'base.twig' %}

{% if lp_theme == 'afterschool' %}
	{% set colors_primary = 'color-blue' %}
	{% set colors_secondary = 'color-blue-dark' %}
	{% set colors_tertiary = 'color-blue-mid' %}
	{% set splatter_color = 'splatter-afterschool' %}
	{% set button_pill = 'button--pill-afterschool' %}
	{% set button_pill_alt = 'button--pill-afterschool--alt' %}
{% elseif lp_theme == 'summer' %}
	{% set colors_primary = 'color-orange' %}
	{% set colors_secondary = 'color-orange-dark' %}
	{% set colors_tertiary = 'color-orange-light' %}
  {% set splatter_color = 'splatter-summer' %}
	{% set button_pill = 'button--pill-summer' %}
	{% set button_pill_alt = 'button--pill-summer--alt' %}
{% else %}
  {% set colors_primary = 'color-blue-light' %}
  {% set colors_secondary = 'color-blue' %}
  {% set colors_tertiary = 'color-blue-dark' %}
  {% set button_pill = 'button--pill' %}
	{% set button_pill_alt = 'button--pill--alt' %}
{% endif %}

{% block head_extras %}
	<style>
		.alert {
			background: rgba(255, 220, 84, 0.75);
			padding: 1.75rem 0;
			margin-top: 25px;
		}
	</style>
{% endblock %}

{% block content %}

  <div class="js-parallax">
    <header class="c-hero c-hero--large c-hero--long-text bg-{{colors_primary}} {{splatter_color}} js-parallax-content">
      <div class="o-container js-parallax-text">

        <h1 class="c-hero__title--long">
          <span class="c-hero__sticker sticker bg-{{colors_secondary}}">
            <svg aria-hidden="true" class="icon--medium"><use xlink:href="#icon-summer-guides"></use></svg>
          </span>

          {{ post.s_program_title_translated }}
        </h1>

        <p class="c-hero__tags">
          {% for term in post.terms('age_group') %}
            <a href="{{summer_link}}?ages={{term.slug}}" class="button--pill {{button_pill}}">{{term.name}}</a>
            {% endfor %}
          {% for term in post.terms('summer_programs_cat') %}
            <a href="{{summer_link}}?interests={{term.slug}}" class="button--pill {{button_pill_alt}}">{{term.name}}</a>
            {% endfor %}
          {% for term in post.terms('activity_type') %}
            <a href="{{summer_link}}?activity_types={{term.slug}}" class="button--pill {{button_pill_alt}} ">{{term.name}}</a>
          {% endfor %}
        </p>
      </div>
    </header>
  </div>

  <article class="o-container u-bottom-spacing-small js-sticky-container o-pa-top desktop:flex">

    <aside class="o-article-sidebar o-content-container--compact u-lg-gutter desktop:w-sidebar mt-8">
      <dl class="c-details-list">

        {% if post.s_eligibility %}
				<dt class="c-details-list__term">{{ __('Who', 'GUNY-Seasonal') }}</dt>
        <dd class="c-details-list__descr">
          <span>{{post.s_eligibility}}</span>
        </dd>
        {% endif %}

        {% if post.s_when %}
        <dt class="c-details-list__term">{{ __('When', 'GUNY-Seasonal') }}</dt>
        <dd class="c-details-list__descr">
          <span>{{post.s_when}}</span>
        </dd>
        {% endif %}

        {% if post.s_where %}
        <dt class="c-details-list__term">{{ __('Where', 'GUNY-Seasonal') }}</dt>
        <dd class="c-details-list__descr">
          {{post.s_where}}
          {% for borough in post.terms('borough') %}
          {{borough.name}}
          {% endfor %}
        </dd>
        {% endif %}

        <dt class="c-details-list__term">{{ __('Cost', 'GUNY-Seasonal') }}</dt>
        <dd class="c-details-list__descr">
        {% if post.s_cost %}
          {{post.s_cost}}
          {% else %}
          {{ __('Free', 'GUNY-Seasonal') }}
        {% endif %}
        </dd>

        {% if post.s_website %}
        <dt class="c-details-list__term">{{ __('More Information', 'GUNY-Seasonal') }}</dt>
        <dd class="c-details-list__descr"><a href="{{post.s_website}}" target="_blank">{{ __('Visit the activity website', 'GUNY-Seasonal') }}</a></dd>
        {% endif %}

      </dl>
    </aside>

    <div class="o-article js-sticky-article desktop:w-article">
      <div class="o-content-container--compact">

        {% if post.s_description %}
        <section class="o-content-container--text s-wysiwyg u-top-spacing u-bottom-spacing-small" data-id="section-summary">
          {{ post.s_description }}
        </section>
				{% endif %}

        {% if post.s_how_to_apply %}
				<hr>
				<section class="o-content-container--text s-wysiwyg u-top-spacing u-bottom-spacing-small" data-id="how-to-apply">
          <h2 id="section-how-to-apply-">{{ post.s_how_to_apply_title }}</h2>
          {{ post.s_how_to_apply }}
				</section>
				{% endif %}

				{% if post.s_cta_url %}
				<section class="o-content-container--text s-wysiwyg u-bottom-spacing-small" data-id="call-to-action">
					<button>
					{% if post.s_cta_new_window %}
						<a href="{{ post.s_cta_url }}" class="button--outline button--outline--gray aligncenter" target="_blank">{{ post.s_cta_title }}</a>
        	{% else %}
						<a href="{{ post.s_cta_url }}" class="button--outline button--outline--gray aligncenter">{{ post.s_cta_title }}</a>
					{% endif %}
					</button>
				</section>
				{% endif %}

        {# Events #}
        {% if post.relevant_events %}
        <hr>
          <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter" data-id="section-events">
            <h2>{{ __('Events', 'GUNY-Single-Age') }}</h2>
              <p class="c-block-list__text">{{post.events_text}}</p>
            {# {% endif %} #}
            <div class="c-block-list__inner">
            {% for event in post.relevant_events %}
            {% set single_event = TimberPost(event, 'GunyEvent') %}
                <div class="c-block-list__item">
                  {% include ['partials/teaser-tribe_events.twig', 'partials/teaser.twig'] with {post: single_event} %}
                </div>
              {% endfor %}
            </div>
            <!-- /.c-block-list-inner -->
            <div class="text-center">
              <a href="{{eventslink}}" class="button--outline button--outline--gray">{{ __('See all events', 'GUNY-Single-Age') }}</a>
            </div>
          </section>
        {% endif %}

      </div>
    </div>

  </article>


{% endblock %}
