{% if 'generationnyc' in current_url|split('/') %}
  {% set is_generation = 'true' %}
{% endif %}

{% extends is_generation ? "microsite-base.twig": "base.twig" %}

{# global 404 page template #}
{% block content %}
<div class="s-404">
  {# Side Hero #}
  <section class="o-static-column o-static-column--left c-side-hero js-static">
    <div class="c-side-hero__content {% if top_widget %} u-top-spacing{% else %} u-top-spacing-large{% endif %}">
      <h1 class="c-side-hero__title u-sm-gutter {% if is_generation %} u-top-spacing-small{% endif %}">
        <span class="c-side-hero__title__large {% if not is_generation %} text-bright-blue{% endif %}">{{ function('NotFound\\get_hero_header') }}</span>
        <p class="c-side-hero__tagline">{{ function('NotFound\\get_hero_tagline') }}</p>
      </h1>
      {% if function('NotFound\\get_hero_button_url') %}
        <a href="{{ function('NotFound\\get_hero_button_url') }}" class="button--outline button--outline--gray">{{ function('NotFound\\get_hero_button_text') }}</a>
      {% endif %}
    </div> <!--/.c-side-hero__content -->
  </section> <!-- /.o-static-column.o-static-column--left -->

  {# Side Menu #}
  <section class="o-scroll-column o-scroll-column--right">
    <div class="c-list-box c-list-box--primary">
      <div class="c-list-box__item bg-strong-blue {% if function('NotFound\\get_menu_categories_count') <= 2 %} u-top-spacing-small u-bottom-spacing-small{% endif %}">
        <h2 class="c-list-box__heading bg-strong-blue">{{ function('NotFound\\get_menu_header') }}</h2>
        <ul class="c-list-box__content bg-strong-blue">
          {{ function('NotFound\\get_menu_categories') }}
        </ul>
      </div>
    </div>
  </section> <!-- /.o-scroll-column.o-scroll-column--right -->
</div>
{% endblock %}