<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html lang="en" class="no-js oldie">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="icon" type="image/x-icon" href="{{theme.path}}/favicon.ico">
  <link rel="stylesheet" href="{{theme.path}}/style.css" type="text/css" media="screen">
  <script>
    (function(d) {
      var config = {
        kitId: 'gyh3xur',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  {{function('wp_head')}}
</head>

<body class="{{body_class}}" data-template="base.twig">
  {% include 'partials/svg-sprite.twig' %}
  <div class="o-offcanvas js-offcanvas" id="offcanvas-ages">
    <a href="#main" class="show-for-keyboard">Skip to main content</a>
    <nav class="o-offcanvas__side js-offcanvas__side" id="ages" role="navigation" aria-labelledby="ages-heading">
      <h2 id="ages-heading" class="show-for-screen-reader">Resources by Age</h2>
      <ol class="js-accordion" data-multiselectable="true">
        {% for age_group in age_menu %}
          <li>
            <h3 class="js-accordion__header" id="ages-heading-{{loop.index}}">{{age_group.name}}</h3>
            <ol class="js-accordion__content" id="ages-panel-{{loop.index}}">
              {% for post in age_group.posts('numberposts=-1&post_type=age&orderby=title') %}
                <li><a href="{{post.link}}">{{post.title}}</a></li>
              {% endfor %}
            </ol>
          </li>
        {% endfor %}
      </ol>
    </nav>

    <div class="o-offcanvas__main">
      {% block header %}
        <header class="c-banner">
          <div class="o-layout">
            <a href="{{site.url}}" class="c-banner__logo-wrapper"><span class="c-banner__logo">{{site.name}}</span></a>
            <nav class="c-banner__nav" role="navigation" aria-label="Primary">
              <ul class="o-inline">
                {% for menu_item in menu.get_items %}
                  <li class="o-inline__item"><a href="{{menu_item.link}}" class="c-banner__link">{{menu_item.title}}</a></li>
                {% endfor %}
                <li class="o-inline__item"><a href="#ages" data-toggle="offcanvas-ages" class="c-banner__link">Ages</a></li>
                <li class="o-inline__item">
                  <a class="c-banner__link" href="#search"><svg class="c-banner__icon" role="img"><title>Search</title><use xlink:href="#search"></use></svg></a>
                </li>
              </ul>
            </nav>
            {#
            <form action="/" method="get" class="js-global-search">
              <label for="fwp-search">Search<label>
              <input type="text" name="s" placeholder="Search" id="search">
              <button type="submit">Submit</button>
            </form>
            #}
          </div>
        </header>
      {% endblock %}

      <main id="main" role="main">
        {% block content %}
          <section class="post-list small-12 columns">
            <p>Sorry, no entries match your criteria</p>
          </section> <!-- /.post-list.small-12.columns -->
        {% endblock %}
      </main> <!-- /#main -->

      <hr>
      <footer class="site-footer" role="contentinfo">
        {% include 'footer.twig' %}
      </footer> <!-- /.site-footer -->
      <a class="o-offcanvas__overlay" data-toggle="offcanvas-ages" aria-hidden="true"></a>
    </div> <!-- /.o-offcanvas__main -->
  </div> <!-- /.o-offcanvas -->

  {{wp_footer}}
</body>