<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html lang="en" class="no-js oldie">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="icon" type="image/x-icon" href="{{theme.path}}/favicon.ico">
  <link rel="stylesheet" href="{{theme.path}}/style.css" type="text/css" media="screen">
  <script>
    (function(d) {
      var config = {
        kitId: 'gyh3xur',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  {{function('wp_head')}}
</head>

<body class="{{body_class}}" data-template="base.twig">
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      {% block nav %}
        {% include 'nav.twig' %}
      {% endblock %}

      <div class="off-canvas-content" data-off-canvas-content>
        {% block header %}
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <h1 class="title-bar-title"><a href="{{site.url}}">{{site.name}}</a></h1>
            </div> <!-- /.title-bar-left -->
            <div class="title-bar-right">
              <button class="menu-icon" type="button" data-toggle="primaryNav"></button>
            </div> <!-- /.title-bar-right -->
          </div> <!-- /.title-bar -->
        {% endblock %}

        {% block content %}
          <main class="page-content row">
            <section class="post-list small-12 columns">
              <p>Sorry, no entries match your criteria</p>
            </section> <!-- /.post-list.small-12.columns -->
          </main> <!-- /.page-content.row -->
        {% endblock %}

        {% block footer %}
          <hr>
          <footer class="site-footer" role="contentinfo">
            {% include 'footer.twig' %}
          </footer> <!-- /.site-footer -->
          <a class="exit-off-canvas"></a>
        {% endblock %}

        {{cta}}
      </div> <!-- /.off-canvas-content -->
    </div> <!-- /.off-canvas-wrapper-inner -->
  </div> <!-- /.off-canvas-wrapper -->
  {{wp_footer}}
</body>