<div id="site-lightbox" class="site-lightbox mfp-hide">
  <h1 class="lightbox-heading">{{post.title}}</h1>
  <p class="lightbox-subheading">{{post.call_to_action_subheading}}</p>

  {% if post.call_to_action_image %}
    <figure class="lightbox-feature-img">
      <img src="{{TimberImage(post.get_field('call_to_action_image')).src}}" alt="{{post.title}}" />
    </figure>
  {% endif %}

  {% if post.call_to_action_sign_up == 'yes' %}
    <form action="{{post.call_to_action_form_url}}" class="lightbox-form">
      <input type="email" id="email" placeholder="Email" />
      <input type="text" id="zip" placeholder="Zip code" />
      <input type="submit" class="lightbox-submit-btn button" value="{{post.call_to_action_button_text}}">
    </form> <!-- /.lightbox-form -->
  {% else %}
    <a href="{{post.call_to_action_button_link}}" class="button lightbox-submit-btn">{{post.call_to_action_button_text}}</a>
  {% endif %}
</div> <!-- /#site-lightbox -->