<div class="meerkat-cta row">
  <div class="small-12 large-6 columns meerkat-copy">
    <h1 class="meerkat-heading">{{post.title}}</h1>
    <p class="meerkat-subheading">{{post.call_to_action_subheading}}</p>
  </div> <!-- /.meerkat-copy -->
  <div class="small-12 large-6 columns meerkat-action">
  {% if post.call_to_action_sign_up == 'yes' %}
    <form action="{{post.call_to_action_form_url}}" class="lightbox-form row">
      <div class="small-12 medium-4 columns">
        <input type="text" id="email" placeholder="Email" />
      </div> <!-- /.small-12.medium-4.columns -->
      <div class="small-12 medium-4 columns">
        <input type="text" id="zip" placeholder="Zip code" />
      </div> <!-- /.small-12.medium-4.columns -->
      <div class="small-12 medium-4 columns">
          <input type="submit" class="lightbox-submit-btn button" value="{{post.call_to_action_button_text}}">
      </div> <!-- /.small-12.medium-4.columns -->
    </form> <!-- /.lightbox-form -->
  {% else %}
    <a href="{{post.call_to_action_button_link}}" class="button lightbox-submit-btn">{{post.call_to_action_button_text}}</a>
  {% endif %}
  </div> <!-- /.small-12.large-6.columns.meerkat-action -->
</div> <!-- /.meerkat-cta.row -->