{% extends "microsite-base.twig" %}

{% block content %}

  {% block head_extras %}
  <style>
    .c-hero-ms__topics-single {
      background-image: url(/wp-content/themes/guny/assets/img/hero-topics-splatter.svg);
    }
    .spinner {
      width: 10%;
    }
  </style>
  {% endblock %}

  {% block hero %}
  <div class="js-parallax">
    <header class="c-hero c-hero--bg-secondary c-hero-ms__topics-single js-parallax-content">
      <div class="o-container js-parallax-text">
        <h1 class="c-hero__title c-hero-ms__topics__title">
          {{post.title}}
        </h1>
        {% if sections %}
          <p class="c-hero__tagline" aria-hidden="true">&nbsp;</p>
        {% endif %}
      </div>
    </header>
  </div> <!-- /.js-parallax -->
  {% endblock %}

  <article class="o-container u-bottom-spacing-small js-sticky-container">
    {% if has_embed %}
    <div class="spinner-container text-center u-top-spacing">
      {% include 'partials/spinner.twig' with {this: {color: '#7735b2'}} only %}
    </div>
    {% endif %}

    {% if sections %}
    <aside class="o-article-sidebar">
      <div class="o-content-container--compact u-shift-up">
        <ol class="c-nav-list c-nav-list-ms__topics js-sticky js-section-set o-sticky-nav">

          {% for section in sections %}
            {% if section.section_display == "Yes" %}
            <li class="c-nav-list__item">
              <a class="js-section c-nav-list__link" href="#section-{{ section.slug }}" data-section="section-{{ section.slug }}">
                {{ section.section_title }} {# translation comes from page content #}
                <svg aria-hidden="true" class="icon--caret">
                  <use xlink:href="#icon-caret-right"></use>
                </svg>
              </a>
            </li>
            {% endif %}
          {% endfor %}

        </ol>
      </div>
    </aside>
    {% endif %}

    <div class="o-article js-sticky-article">
      <div class="o-content-container--compact">

        {% if post.content %}
        <section class="o-content-container--text s-wysiwyg u-top-spacing u-bottom-spacing-small" data-id="section-summary">
          {{ post.content }}
        </section>
        {% endif %}

        {% if sections %}
          {% set section_previous = false %}
          {% set section_no_divider_after = ['newsletter-signup'] %}
          {% for key, section in sections %}
            {% if section.section_display == "Yes" %}

              {% include 'partials/' ~ section.acf_fc_layout ~ '.twig' with {title: section.section_title, id: 'section-' ~ section.slug, class: 'c-tip-ms__topics'} %}

              {% if section_previous and section_previous in section_no_divider_after %}<hr>{% endif %}

              {% set section_previous = section.acf_fc_layout %}

            {% endif %}
          {% endfor %}
        {% endif %}

      </div>

      {# Last Modified Date #}
      <div id='last-modified-date' class="o-content-container--compact">
        <div>
          <div class="o-content-container--text s-wysiwyg text-gray">
            <p>{{ __('Updated', 'GUNY') }} {{post.post_modified|date}}</p>
          </div>
        </div>
      </div>
    </div>

  </article>

{% endblock %}