{% extends "base.twig" %}

{# Theme settings #}
{% if post.get_field('lp_theme') == 'afterschool' %}
	{% set colors_primary = 'color-blue' %}
	{% set colors_secondary = 'color-blue-dark' %}
	{% set colors_tertiary = 'color-blue-mid' %}
{% elseif post.get_field('lp_theme') == 'summer' %}
	{% set colors_primary = 'color-orange' %}
	{% set colors_secondary = 'color-orange-dark' %}
	{% set colors_tertiary = 'color-orange-light' %}
{% else %}
  {% set colors_primary = 'color-blue-light' %}
  {% set colors_secondary = 'color-blue' %}
  {% set colors_tertiary = 'color-blue-dark' %}
{% endif %}

{% block head_extras %}
	<style>
		{% if post.hero_banner %}
			.c-hero {
        background-image: url({{TimberImage(post.hero_banner)|resize(480,161)}});
      }
      @media(-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        .c-hero {
          background-image: url({{TimberImage(post.hero_banner)|resize(960,322)}});
        }
      }
      @media(min-width:480px) {
        .c-hero {
          background-image: url({{TimberImage(post.hero_banner)|resize(700,235)}});
        }
      }
      @media(min-width:480px) and(-webkit-min-device-pixel-ratio: 2),
      (min-width:480px) and(min-resolution: 192dpi) {
        .c-hero {
          background-image: url({{TimberImage(post.hero_banner)|resize(1400,470)}});
        }
      }
      @media(min-width:700px) {
        .c-hero {
          background-image: url({{TimberImage(post.hero_banner)}});
          {# padding-top: 7rem; #}
        }
      }
		{% else %}
			.c-hero {
				background-image: url({{TimberImage(post.hero_banner)}});
			}
		{% endif %}
		[v-cloak] {
			display: none;
		}
	</style>
  {% if post.get_field('mt_google_translate') == 'Yes' and language_code != 'en' %}
    {% include ['services/google-translate.twig'] %}
  {% endif %}
{% endblock %}

{% block content%}
  {% if post.get_field('mt_google_translate') == 'Yes' and language_code != 'en' %}
    <div machine-translate="{{post.get_field('mt_google_translate')}}"></div>
    <div id="google_translate_element" class="hidden"></div>
  {% endif %}

	<div class="js-parallax">
		<header class="c-hero c-hero--large bg-{{colors_primary}} js-parallax-content">
			<div class="o-container js-parallax-text">
				<h1 class="c-hero__title">
					{{page_title}}
				</h1>
				<span class="c-hero__tagline">{{page_tagline}}</span>
			</div>
		</header>
	</div>

	<article class="o-container js-sticky-container desktop:flex">
		<div class="o-article-sidebar desktop:w-sidebar">
			{# Anchor Links #}
			<div class="o-content-container--compact u-shift-up">
				<ol class="c-nav-list js-sticky js-section-set o-sticky-nav">
					{% for top in post.get_field('landing_page_section') %}
						{% if loop.index != 1 %}
							<li class="c-nav-list__item">
								<a href="#{{top.landing_page_section_content_heading|lower|replace({' ':'-'})}}" data-section="{{top.landing_page_section_content_heading|lower|replace({' ':'-'})}}" class="js-section c-nav-list__link bg-{{colors_secondary}} hover:bg-{{colors_tertiary}} hover:border-{{colors_tertiary}} active:border-{{colors_secondary}} text-color-white">{{top.landing_page_section_content_heading}}<svg aria-hidden="true" class="icon--caret">
										<use xlink:href="#icon-caret-right"></use>
									</svg>
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</div>
		</div>

		<div class="o-article js-sticky-article desktop:w-article">
			{# Section One #}
			{% for top in post.get_field('landing_page_section') %}
				<section data-id="{{top.landing_page_section_content_heading|lower|replace({' ':'-'})}}" class="o-content-container--compact u-top-spacing u-bottom-spacing-small s-wysiwyg bullet">
					{% if loop.index != 1 %}
						<h2>{{top.landing_page_section_content_heading}}</h2>
					{% endif %}
					{{top.landing_page_section_content_body}}
				</section>
        {# Tip #}
        {% if top.landing_page_section_add_tip == "Yes" %}
          <aside class="c-tip bg-{{colors_primary}} u-lg-gutter o-content-container">
            <div class="c-tip__sticker sticker bg-{{colors_primary}}">
              <svg class="icon--large" role="img" aria-hidden="true">
                <title>{{__('Tip', 'GUNYC')}}</title>
                <use xlink:href="#icon-{% if top.landing_page_section_tip_icon != '' %}{{top.landing_page_section_tip_icon}}{% else %}lightbulb{% endif %}"></use>
              </svg>
            </div>
            <h3 class="c-tip__content text-center">{{top.landing_page_section_tip_title}}</h3>
            <p class="c-tip__content">{{top.landing_page_section_tip_content}}</p>
          </aside>
        {% endif %}

				{# call out box #}
				{% if top.landing_page_section_add_call_out == "Yes" %}
          <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter">
            <div class="{% if top.landing_page_section_add_call_out_to_card == 'Yes' %}c-tip-card{% else %}c-do-list{% endif %}">
              <h3 class="c-tip-card__header">{{top.landing_page_section_call_out_box_title}}</h3>
								<p>{{top.landing_page_section_call_out_box}}</p>
            </div>
          </section>
				{% endif %}

        {# Accordion #}
        {% if top.landing_page_section_add_accordion == "Yes" %}
          <section class="o-content-container--compact u-bottom-spacing">
            <h2>{{top.landing_page_section_accordion_heading}}</h2>

            <div class="o-content-container--text u-sm-gutter">
              <p>{{top.landing_page_section_accordion_pretext}}</p>
            </div>
            <ul class="js-accordion c-list-box c-list-box--quinary u-sm-gutter">
              {% if top.landing_page_section_accordion_details %}
                {% for accordion in top.landing_page_section_accordion_details %}
                  <li class="c-list-box__item">
                    {% if accordion.landing_page_section_accordion_header != '' %}
                      <h4 class="c-list-box__heading bg-{{colors_secondary}} js-accordion__header" id="section-header">{{ accordion.landing_page_section_accordion_header }}</h4>
                    {% endif %}
                    <ul class="c-list-box__content js-accordion__content" id="section-panel">
                      {% for item in accordion.landing_page_section_accordion_items %}
                        <li class="c-list-box__subitem">
                          {{item.landing_page_section_accordion_item}}
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </section>
        {% endif %}
				<hr>
        
        {# Upcoming Events #}
        {% if top.landing_page_add_filter == 'Yes' %}

					<div id="vue-{{top.landing_page_filtered_posts}}" data-age='{{function("getSlugs", top.landing_page_age_group_filters)|json_encode}}' data-events="{{top.landing_page_event_cat_filters|json_encode}}">
						<div
							class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false" v-cloak>

							{# categories #}
							<div class="c-list-box__item">
								<h3 class="js-accordion__header c-list-box__heading bg-{{colors_secondary}}" id="type-filter-heading">Filter all activities by type</h3>
								<ul class="js-accordion__content c-list-box__content bg-{{colors_tertiary}}" id="type-filter-panel">
									<li class="c-list-box__subitem bg-{{colors_tertiary}} hover:bg-{{colors_secondary}}" v-if="eventTypes!=null">
										<label class="checkbox">
											<input type="checkbox" v-model="checkedAllEventTypes" @change="selectAllEventTypes" class="checkbox__field">
											<svg class="checkbox__indicator ">
												<use xlink:href="#icon-check"></use>
											</svg>
											{{ __('Select All', 'guny') }}
										</label>
									</li>
									<li class="c-list-box__subitem bg-{{colors_tertiary}} hover:bg-{{colors_secondary}}" v-for="category in eventTypes" v-if="category.slug !='summer'">
										<label class="checkbox" :for="category.slug">
											<input type="checkbox" :id="category.slug" :value="category.slug" v-model="checkedEventType" class="checkbox__field">
											<svg class="checkbox__indicator">
												<use xlink:href="#icon-check"></use>
											</svg>
											<span v-html="category.name"></span>
										</label>
									</li>
								</ul>
							</div>

							<div id="posts-loaded" class="c-block-list--shade o-content-container--p-0" v-if="!isLoading" v-cloak>

								<div class="o-col-2 c-block-list__item-px-0" v-for="post in posts" v-cloak>
									{# CARD #}
									<div class="c-tip-card">
										<div class="c-tip-card__header">
											<div class="c-tip-card__title" :title="post.title">
												<span v-html="post.title"></span>
											</div>
										</div>

										<div class="c-card__subtitle">
											<span class="nowrap" v-if="post.days_recurring == undefined">
												<svg role="img" class="icon--xxsmall" aria-hidden="true">
													<title>{{__('Date:', 'GUNYC')}}</title>
													<use xlink:href="#icon-calendar"></use>
												</svg>
												<span class="nowrap" v-if="post.categories.some(e => e.slug === 'anytime')">{{__('Any Day', 'GUNYC')}}</span>
												<span class="nowrap" v-else>
													<span class="nowrap" v-if="post.date_formatted.start_date != post.date_formatted.end_date">v{post.date_formatted.date_range}</span>
													<span class="nowrap" v-else>v{post.date_formatted.start_day}, v{post.date_formatted.start_date}</span>
												</span>
												<br>
											</span>

											<span v-if="post.days_recurring != undefined">
												<svg role="img" class="icon--xxsmall" aria-hidden="true">
													<title>{{__('Date:', 'GUNYC')}}</title>
													<use xlink:href="#icon-recurring"></use>
												</svg>
												<span>{{__('Every', 'GUNYC')}} v{post.days_recurring} {{__('thru', 'GUNYC')}} v{post.date_formatted.end_date}</span>
												<br>
											</span>

											<svg role="img" class="icon--xxsmall" aria-hidden="true">
												<title>{{__('Time:', 'GUNYC')}}</title>
												<use xlink:href="#icon-clock-o"></use>
											</svg>
											<span class="nowrap" v-if="post.categories.some(e => e.slug === 'anytime')">Anytime</span>
											<span class="nowrap" v-else>v{post.date_formatted.time}</span>
										</div>

										<div class="c-tip-card__content">
											<span v-html="post.about_this_event"></span>
											<a :href="post.website" class="c-tip-card__link" :title="`{{ __('Go to activity website: ', 'GUNY-Tips') }}` + post.website">{{__('Go to activity website', 'GUNYC')}}<svg aria-hidden="true" class="icon--caret--small">
													<use xlink:href="#icon-caret-line-right"></use>
												</svg>
											</a>
										</div>

										<div class="c-card__tags" v-if="post.categories">
                      <span v-for="term in post.age_group ">
												<div class="button--pill bg-{{colors_primary}}">
													<span v-html="term.name"></span>
												</div>
											</span>
											<span v-for="term in post.categories">
                        <div class="button--pill bg-{{colors_secondary}}" v-if="term.slug != 'summer'">
                          <span v-html="term.name"></span>
                        </div>
											</span>
										</div>
									</div>

								</div>
								<p class="p-6" v-if="errorMsg">{{ __('Sorry, there are no events for this category right now. Check again later.', 'guny') }}</p>

								{# pagination #}
								<div class="o-content-container--compact pagination text-center pb-6" v-if="!isLoading" v-cloak>
									<div class="paginate" v-if="(posts.length < 50) && (showButton)">
										<router-link class="button--outline button--outline--gray paginate" :to="{ query: {event_category: checkedEventType }}" @click.native="loadMore();">{{ __('See more', 'guny') }}</router-link>
									</div>
								</div>

							</div>
						</div>
					</div>
				{% else %}
          {% if top.landing_page_section_content_heading == 'Virtual Activities' %}
            {% if upcoming_events %}
              <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter" data-id="section-events">
                {% if post.events_text %}
                  <p class="c-block-list__text">{{post.events_text}}</p>
                {% endif %}

                {% for event in upcoming_events %}
                  <div class="c-block-list__item">
                    {% include ['partials/teaser-'~event.post_type~'.twig', 'partials/teaser.twig'] with {post: event} %}
                  </div>
                {% endfor %}

                <!-- /.c-block-list-inner -->
                <div class="text-center">
                  <a href="{{events_link}}?age_id=7&age_id=8" class="button--outline button--outline--gray">{{ __('See all events', 'GUNY-Single-Age') }}</a>
                </div>
              </section>
              <!-- /.c-block-list -->
            {% endif %}
          {% endif %}
				{% endif %}
			{% endfor %}

      {# Share #}
      {% if post.get_field('show_share') == 'Yes' %}
        <aside class="c-tip bg-{{colors_primary}} text-center u-lg-gutter o-content-container">
          <div class="c-tip__sticker sticker bg-{{colors_primary}}">
            <svg class="icon--large" role="img" aria-hidden="true">
              <title>{{__('Share', 'GUNYC')}}</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check-outlined"></use>
            </svg>
          </div>

          <p class="c-tip__content">{{post.get_field('sms_intro_text')}}</p>

          <div id="share-by-text" class="sms-form-wrapper share-form">
            {% include 'components/gunyc-share-form.twig' with {form_only:false, color: colors_primary, button_color: colors_secondary, button_hover: colors_tertiary, disclaimer_text: options.gunyc_disclaimer_text}%}
          </div>
          <footer class="c-tip__footer"></footer>
        </aside>
      {% endif %}

		</div>
	</article>
{% endblock %}

