{% extends "list.twig" %}

{% block hero %}
  <header class="c-hero c-hero--bg-secondary">
    <div class="o-container">
      <h1 class="c-hero__title">{{options.event_landing_title}}</h1>
      <p class="c-hero__tagline">{{options.event_landing_tagline}}</p>
    </div>
    {% include 'partials/hero-full-splatter.twig' %}
  </header>
{% endblock %}

{% block list_sidebar %}
  {# Event List Filters #}
  <form class="filter__form" action="{{page.link}}" method="GET">
    <div class="c-list-box c-list-box--primary">
      <div class="c-list-box__item">
        {{event_filter}}
        <svg class="o-accordion__caret icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-down"></use></svg>
      </div>
      <div class="c-list-box__item">
        {{age_filter}}
        <svg class="o-accordion__caret icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-down"></use></svg>
      </div>
      <div class="c-list-box__item">
        {{borough_filter}}
        <svg class="o-accordion__caret icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-down"></use></svg>
      </div>
    </div>
  </form>
{% endblock %}

{% block before_list %}
  {{function('do_action', 'tribe_events_before_template')}}
{% endblock %}

{% block post_list %}
  {% include 'partials/tribe-events-list.twig' %}
{% endblock %}

{% block after_list %}
  {{function('do_action', 'tribe_events_after_template')}}
{% endblock %}
