{% extends "list.twig" %}

{% block hero %}
  <header class="c-hero c-hero--bg-secondary">
    <div class="o-container">
      <h1 class="c-hero__title">{{options.event_landing_title}}</h1>
      <p class="c-hero__tagline">{{options.event_landing_tagline}}</p>
    </div>
    {% include 'partials/hero-full-splatter.twig' %}
  </header>
{% endblock %}

{% block list_sidebar %}
  {# Event List Filters #}
  <div class="c-list-box c-list-box--quaternary js-filters">
    <div class="c-list-box__item">
      <h3 class="c-list-box__heading">{{current_event_filter}}</h3>
      <ul class="c-list-box__content">
        <li><a href="{{all_events.link}}" class="c-list-box__subitem">{{all_events.name}}</a></li>
      {% for event_type in event_filter %}
        <li><a href="{{event_type.link}}" class="c-list-box__subitem">{{event_type.name}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="c-list-box__item">
      <h3 class="c-list-box__heading">{{current_age_filter}}</h3>
      <ul class="c-list-box__content">
        <li><a href="{{all_ages.link}}" class="c-list-box__subitem">{{all_ages.name}}</a></li>
        {% for age in age_filter %}
          <li><a href="{{age.link}}" class="c-list-box__subitem">{{age.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="c-list-box__item">
      <h3 class="c-list-box__heading">{{current_borough_filter}}</h3>
      <ul class="c-list-box__content">
        <li><a href="{{all_boroughs.link}}" class="c-list-box__subitem">{{all_boroughs.name}}</a></li>
        {% for borough in borough_filter %}
          <li><a href="{{borough.link}}" class="c-list-box__subitem">{{borough.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block before_list %}
  {{function('do_action', 'tribe_events_before_template')}}
{% endblock %}

{% block post_list %}
  {% include 'partials/tribe-events-list.twig' %}
{% endblock %}

{% block after_list %}
  {{function('do_action', 'tribe_events_after_template')}}
{% endblock %}
