{% extends "list.twig" %}

{% block head_extras %}
  <style>.c-hero { background-image: url(/wp-content/themes/guny/assets/img/hero-full-splatter.svg); }</style>
{% endblock %}

{% block hero %}
  <div class="js-parallax">
    <header class="c-hero c-hero--bg-secondary u-lg-gutter js-parallax-content">
      <div class="o-container js-parallax-text">
        <h1 class="c-hero__title">{{options.event_landing_title}}</h1>
        <p class="c-hero__tagline">{{options.event_landing_tagline}}</p>
      </div>
    </header>
  </div> <!-- /.js-parallax -->
{% endblock %}

{% block list_sidebar %}
  {# v{ boroughs } #}
  <div class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false">

    {# event categories #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading" id="type-filter-heading">{{ __('All Event Types', 'guny-events') }}</h3>
      <ul class="js-accordion__content c-list-box__content" id="type-filter-panel" v-for="category in eventTypes">
         <li class="c-list-box__subitem">
          <label class="checkbox" :for="category.slug">
            <input type="checkbox"  :id="category.slug" :value="category.term_id" v-model="checkedEventType" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ category.name }
          </label>
        </li>
      </ul>
    </div>

    {# age group categories #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading" id="age-filter-heading">{{ __('All Ages', 'guny-events') }}</h3>
      <ul class="js-accordion__content c-list-box__content" id="age-filter-panel" v-for="age in ageGroups">
        <li class="c-list-box__subitem">
          <label class="checkbox" :for="age.slug">
            <input type="checkbox"  :id="age.slug" :value="age.id" v-model="checkedAgeGroup" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ age.name }
          </label>
        </li> 
      </ul>
    </div>

    {# borough categories #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading" id="borough-filter-heading">{{ __('All Boroughs', 'guny-events') }}</h3>
      <ul class="js-accordion__content c-list-box__content" id="borough-filter-panel" v-for="borough in boroughs">
       <li class="c-list-box__subitem">
          <label class="checkbox" :for="borough.slug">
            <input type="checkbox"  :id="borough.slug" :value="borough.id" v-model="checkedEventType" class="checkbox__field">
            <svg class="checkbox__indicator"><use xlink:href="#icon-check"></use></svg>
            v{ borough.name }
          </label>
        </li> 
      </ul>
    </div>

  </div>
{# </div> #}
{% endblock %}

{# {% block before_list %}
  {{function('do_action', 'tribe_events_before_template')}}
{% endblock %} #}

{% block post_list %}
  {# Pager #}
  {# <h2 class="c-arrow-pager">

    {% if prev_month_url %}
    <a class="c-arrow-pager__arrow c-arrow-pager__arrow--left" href="{{prev_month_url}}" rel="prev">
      <svg role="img" class="icon--xsmall"><title>{{ __('Previous Month', 'guny-events') }}</title><use xlink:href="#icon-caret-left"></use></svg>
    </a>
    {% endif %}

    {{current_month_text}}

    {% if next_month_url %}
    <a class="c-arrow-pager__arrow c-arrow-pager__arrow--right" href="{{next_month_url}}" rel="next">
      <svg role="img" class="icon--xsmall"><title>{{ __('Next Month', 'guny-events') }}</title><use xlink:href="#icon-caret-right"></use></svg>
    </a>
    {% endif %}

  </h2> #}

  {# events cards #}
  <section class="c-block-list c-block-list--shade o-content-container u-sm-gutter" v-for="post in events">
    <h3>v{ post.start_date.formatted }</h3>
    <div class="c-block-list__item">
      <div class="c-card c-card--subtitle-first">
        <a :href="post.link">
        <div class="c-card__sticker sticker {% block classes_sticker %}{% endblock %}" aria-hidden="true">
          <span class="event-day">
            v{post.start_date.day}
          </span>
          <span class="event-month-date">
            v{post.start_date.month_date}
          </span>
        </div>
        <h3 class="c-card__title">
          <a :href="post.link" :title="post.title" rel="bookmark">
            v{ post.title }
          </a>
        </h3>
        {# <div class="c-card__subtitle">
          <svg role="img" class="icon--xxsmall"><title>Time:</title><use xlink:href="#icon-clock-o"></use></svg>
          <span class="nowrap">
            v{ post.start_date_details.hour}:v{ post.start_date_details.minutes}
          </span>
          - <span class="nowrap">
            v{ post.end_date_details.hour}:v{ post.end_date_details.minutes}
          </span>
        </div>
        <div class="c-card__tags" v-if="post.categories">
          <span v-for="term in post.categories"> 
              <a :href="term.slug" class="button--pill button--pill--alt">v{ term.name }</a>
            </span>
        </div> #}
        <div class="c-card__body">
          v{ post.excerpt }
        </div>
        <p class="c-card__link" v-if="post.venue">
          <svg role="img" class="icon--xxsmall"><use xlink:href="#icon-map-marker"></use></svg><a :href="post.google_map_link" target="_blank">
          v{ post.venue },
          v{ post.city_state }
          </a>
        </p>
      </a>

      </div>
    </div>
  </section>

{% endblock %}
