{% extends "microsite-list.twig" %}

{% block head_extras %}
<style>
  .c-hero-ms__trips { background-color: #00965c; background-image: url(http://localhost/guny-repo/wp-content/themes/guny/assets/img/hero-trips-landing.svg); }
</style>
{% endblock %}

{% block hero %}
<div class="js-parallax">
  <header class="c-hero c-hero-ms c-hero-ms__trips js-parallax-content">
    <div class="o-container js-parallax-text">
      <h1 class="c-hero__title">{{options.trip_landing_title}}</h1>
      <p class="c-hero__tagline">{{options.trip_landing_tagline}}</p>
    </div>
  </header>
</div>
{% endblock %}

{% block list_sidebar %}
<ol class="c-list-box c-list-box-trips c-list-box--quaternary facetwp-guny" data-multiselectable="false">
  {{facet_trip_free_day_trip}}
  {{facet_trip_free_this_week}}
</ol>
{% endblock %}

{% block post_list %}
  {% if dayposts %}
    <section class="c-block-list c-block-list-trips c-block-list-trips__day c-block-list--shade o-content-container u-sm-gutter">
      Free Day Trips
      {{dayposts}}
      <a href='#'>See All Free Day Trips</a>
    </section>
  {% endif %}

  {% if weekposts %}
    <section class="c-block-list c-block-list-trips c-block-list-trips__week c-block-list--shade o-content-container u-sm-gutter">
      Free this week
      {{weekposts}}
      <a href='#'>See All Free This Week</a>
    </section>
  {% endif %}
{% endblock %}


{# {% block after_list %}
<div class="o-content-container--compact">
  {{pagination}}
</div>
{% endblock %} #}
