{% extends "microsite-list.twig" %}

{% block head_extras %}
<style>
  .c-hero-ms__trips { background-color: #00965c; background-image: url(/wp-content/themes/guny/assets/img/hero-trips-landing.svg); }
</style>
{% endblock %}

{% block hero %}
<div class="js-parallax">
  <header class="c-hero c-hero-ms c-hero-ms__trips js-parallax-content">
    <div class="o-container js-parallax-text">
      <h1 class="c-hero__title">{{options.trip_landing_title}}</h1>
      <p class="c-hero__tagline">{{options.trip_landing_tagline}}</p>
    </div>
  </header>
</div>
{% endblock %}

{% block list_sidebar %}
<ol class="c-list-box c-list-box-ms__trips c-list-box--quaternary facetwp-guny" data-multiselectable="false">
  {{facet_trip}}
</ol>
{% endblock %}

{% block post_list %}
  <section id="free-day-trips" class="c-block-list c-block-list-ms__trips c-block-list-ms__trips--day c-block-list--shade o-content-container u-sm-gutter">
  {{posts}}
</section>

{% endblock %}

{% block after_list %}
<div class="o-content-container--compact">
  {{pagination}}
</div>
{% endblock %}
