<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html lang="en" class="no-js oldie">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="{{meta_desc}}">
  <meta name="keywords" content="{{meta_keywords}}">
  <link rel="manifest" href="{{theme.path}}/manifest-ms.json">

  {% if custom_favicon %}
  <link rel="icon" type="image" href="{{custom_favicon}}">
  {% else %}
  <link rel="icon" type="image" href="{{theme.path}}/assets/img/microsite-favicon.png">
  {% endif %}

  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{theme.path}}/assets/img/microsite-Icon-App-76x76@3x.png">
  <link rel="stylesheet" href="{{theme.path}}/src/css/owl.theme.default.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{theme.path}}/src/css/owl.carousel.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{theme.path}}/src/css/animate.css" type="text/css" media="screen">

  <script>
    (function(d) {
      var config = {
        kitId: 'wty8eeo',
        scriptTimeout: 3000,
        async: true,
        active: function() {
          if (typeof jQuery === 'function') {
            jQuery('.js-accordion').trigger('fontsActive');
          }
        }
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  {{ function('enqueue_language_style', 'style') }}


  {{ function('wp_head') }}
  {% block head_extras %}{% endblock %}
  {% block scripts_head %}
    {% include 'services/google-analytics.twig' %}
    {% include 'services/google-tag-manager.twig' %}
  {% endblock %}
</head>

<body class="{{body_class}}" data-template="base.twig">
  {% include 'services/google-tag-manager-noscript.twig' %}
  <div class="hidden" aria-hidden="true" style="display:none;">
  {% include 'partials/svg-sprite.twig' %}
  </div>
  <div class="o-offcanvas js-offcanvas" id="offcanvas-generationnyc">
    <a href="#main" class="show-for-keyboard">Skip to main content</a>
    <nav class="o-offcanvas__side js-offcanvas__side" id="generationnyc-menu" role="navigation" aria-label="generationnyc-menu-heading">
      <h2 id="generationnyc-menu-heading" class="show-for-screen-reader">Resources by Type</h2>
      <button data-js="offcanvas-generationnyc" class="o-offcanvas__close button--text-microsite"><svg class="icon--small" role="img"><title>Close Resources by Type</title><use xlink:href="#icon-close"></use></svg></button>
      <ol class="c-list-box c-list-box--microsite" data-multiselectable="true">
        {% for menu_item in ms_menu.get_items %}
          <li class="c-list-box__item">
            <h3 class="c-list-box__heading" id="generationnyc-menu-heading-{{loop.index}}" tabindex="0">
              <a href="{{menu_item.link}}" class="c-list-box__subitem">{{menu_item.title}}</a>
            </h3>
          </li>
        {% endfor %}
      </ol>
    </nav>

    <div class="o-offcanvas__main js-offcanvas__main">
      {% block header %}
        <header class="c-banner">
          <div class="o-container">
            <a href="/generationnyc" class="c-banner__logo-wrapper"><span class="c-banner__logo c-banner-ms__logo">Generation NYC</span></a>
            <nav class="c-banner__nav" role="navigation" aria-label="Primary">
              <ul class="o-inline o-inline-ms">
                {% for menu_item in ms_menu.get_items %}
                  <li class="o-inline__item desktop-only"><a href="{{menu_item.link}}" class="c-banner__link">{{menu_item.title}}</a></li>
                {% endfor %}
              {# Menu toggle on mobile #}
                <li class="o-inline__item mobile-only__nav"><a href="#mobile-nav" data-js="offcanvas-generationnyc" class="c-banner__link">Menu</a></li>
              {# end of Menu toggle on mobile #}

              {% if function('Search\\visible') %}
                <li class="o-inline__item desktop-only">
                   <a class="c-banner__link" href="#search" data-toggle="overlay-search" data-toggle-class="fadeInDown">
                     <svg class="c-banner__icon c-banner__icon__search" role="img"><title>Search</title><use xlink:href="#icon-search"></use></svg>
                     <svg class="c-banner__icon c-banner__icon__close" role="img"><title>Search</title><use xlink:href="#icon-close"></use></svg>
                   </a>
                </li>
              {% endif %}
              </ul>
            </nav>
          </div>
        </header>

        {# search #}
        {% if function('Search\\visible') %}
          {% include 'partials/search-overlay.twig' %}
        {% endif %}
        {# search end #}

      {% endblock %}

      <main id="main" role="main">
        {% block content %}
          <section class="post-list small-12 columns">
            <p>Sorry, no entries match your criteria</p>
          </section> <!-- /.post-list.small-12.columns -->
        {% endblock %}
      </main> <!-- /#main -->

      <footer class="c-footer" role="contentinfo">
        <div class="o-container">
          <div class="c-footer__section">
            <div class="c-footer__logos">
              <figure class="c-footer__logo">
                <img alt="Generation NYC" src="{{ theme.link }}/assets/img/logo-gnyc-white@236px.png" width="118">
              </figure>

              {# <figure class="c-footer__logo">
                <a href="http://www1.nyc.gov/site/childrenscabinet/index.page" target="_blank"><img alt="Link to NYC Children's Cabinet website" src="{{theme.link}}/assets/img/NYC-childrens-cabinet.svg" height="69" width="157"></a>
              </figure> #}
            </div>
            <nav role="navigation" class="c-footer__nav" aria-label="Secondary">
              <ul class="c-footer__column">
                <li class="c-footer__nav-item">
                  <a class="c-footer__link" href="{{ site.url }}/generationnyc/">{{ __('Home', 'GUNY-Footer') }}</a>
                </li>

                {% if ms_menu.id %}{% for m in ms_menu.get_items %}
                <li class="c-footer__nav-item {{ m._menu_item_classes|join(' ') }}">
                  <a class="c-footer__link" href="{{ m.link }}"
                  {% if m.attr_title != '' %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
                  {% if m.target != '' %}target="{{ m.target }}"{% endif %}
                  {% if m.xfn != '' %}rel="{{ m.xfn }}"{% endif %}>
                    {{ m.title }}
                  </a>
                </li>
                {% endfor %}{% endif %}

                {% if ms_footer_menu_primary_additional.id %}{% for m in ms_footer_menu_primary_additional.get_items %}
                <li class="c-footer__nav-item {{ m._menu_item_classes|join(' ') }}">
                  <a class="c-footer__link" href="{{ m.link }}"
                  {% if m.attr_title != '' %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
                  {% if m.target != '' %}target="{{ m.target }}"{% endif %}
                  {% if m.xfn != '' %}rel="{{ m.xfn }}"{% endif %}>
                    {{ m.title }}
                  </a>
                </li>
                {% endfor %}{% endif %}
              </ul>

              <ul class="c-footer__column">
                {% if ms_footer_menu_right.id %}{% for m in ms_footer_menu_right.get_items %}
                <li class="c-footer__nav-item {{ m._menu_item_classes|join(' ') }}">
                  <a class="c-footer__link" href="{{ m.link }}"
                  {% if m.attr_title != '' %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
                  {% if m.target != '' %}target="{{ m.target }}"{% endif %}
                  {% if m.xfn != '' %}rel="{{ m.xfn }}"{% endif %}>
                    {{ m.title }}
                  </a>
                </li>
                {% endfor %}{% endif %}
              </ul>
            </nav>
          </div>
        </div> <!-- /.o-container -->

        <div class="o-attribution o-container mt-8">
          <div class="o-attribution__flex o-footer__divider">
            <div>
              <p class="o-attribution__byline">
                {{ __('Generation NYC is maintained by the <span class="sr-only">The Mayor\'s Office for Economic Opportunity and The NYC Children\'s Cabinet</span>', 'GUNY-Footer') }}
              </p>

              <svg style="max-width: 100%; width: 552px; height: 63px" width="552" height="63" viewBox="0 0 517 59" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M152.793 23.3997L156.042 20.1934V10.439L146.288 0.68457H113.782L104.028 10.439V3.94079L100.779 0.68457H87.7754L84.5263 3.94079V10.439L78.021 16.9443L71.5228 10.439V3.94079L68.2666 0.68457H55.2631L52.014 3.94079L48.7649 0.68457H35.7614L32.5123 3.94079V16.9443L16.2526 0.68457H3.24909L0 3.94079V49.4495L3.24909 52.6986H16.2526L19.5088 49.4495V36.446L35.7614 52.6986H48.7649L52.014 49.4495V23.4425L68.2666 39.6951V49.4495L71.5228 52.6986H84.5263L87.7754 49.4495V39.6951L104.028 23.4425V42.9513L113.782 52.6986H146.288L156.042 42.9513V33.1969L152.793 29.9407H136.533V33.1969H123.537V20.1934H136.533V23.3997H152.793Z" fill="currentColor"/>
                <path d="M153.726 2.87899C154.032 2.87899 154.296 2.85049 154.296 2.49423C154.296 2.19497 154.004 2.15934 153.762 2.15934H153.27V2.87899H153.726ZM153.277 4.27553H152.871V1.81733H153.804C154.396 1.81733 154.702 2.02397 154.702 2.52273C154.702 2.97162 154.431 3.14975 154.061 3.1925L154.752 4.27553H154.296L153.662 3.221H153.284V4.27553H153.277ZM153.712 1.16894C152.75 1.16894 152.002 1.92421 152.002 3.00724C152.002 4.01902 152.657 4.84555 153.712 4.84555C154.667 4.84555 155.415 4.0974 155.415 3.00724C155.415 1.92421 154.667 1.16894 153.712 1.16894ZM153.712 5.23031C152.436 5.23031 151.524 4.27553 151.524 3.00724C151.524 1.66771 152.536 0.78418 153.712 0.78418C154.873 0.78418 155.885 1.66771 155.885 3.00724C155.892 4.33966 154.88 5.23031 153.712 5.23031Z" fill="currentColor"/>
                <path d="M409.738 25.6754C409.647 22.5559 406.618 20.7785 403.825 20.7785C399.908 20.7785 397.369 23.771 397.369 27.5253C397.369 31.2795 399.908 34.272 403.825 34.272C407.108 34.272 409.556 32.3133 409.738 28.9762H406.364C406.237 30.4634 405.331 31.3702 403.753 31.3702C401.576 31.3702 400.742 29.4477 400.742 27.5253C400.742 25.6028 401.576 23.6804 403.753 23.6804C405.167 23.6804 406.183 24.3695 406.364 25.6754H409.738ZM411.402 34H414.486V28.8674C414.486 27.8336 414.993 26.8542 416.154 26.8542C417.841 26.8542 417.696 28.1601 417.696 29.4477V34H420.779V27.9606C420.779 26.6003 420.525 24.3151 417.387 24.3151C416.263 24.3151 414.993 24.9136 414.522 25.8749H414.486V21.0506H411.402V34ZM422.935 34H426.018V24.5872H422.935V34ZM426.018 21.0506H422.935V23.4083H426.018V21.0506ZM428.302 34H431.385V21.0506H428.302V34ZM438.075 26.6729C439.417 26.6729 439.907 27.9243 439.907 29.2845C439.907 30.4815 439.581 31.9143 438.075 31.9143C436.661 31.9143 436.189 30.4815 436.189 29.1938C436.189 27.9968 436.661 26.6729 438.075 26.6729ZM442.882 21.0506H439.798V25.6028H439.762C439.127 24.7504 438.239 24.3151 437.078 24.3151C434.412 24.3151 433.106 26.6366 433.106 29.085C433.106 31.7329 434.357 34.272 437.314 34.272C438.402 34.272 439.309 33.8005 439.907 32.9118H439.943V34H442.882V21.0506ZM445.092 34H448.175V29.3389C448.175 28.1601 448.973 27.1081 450.497 27.1081C450.914 27.1081 451.277 27.1807 451.676 27.2895V24.4784C451.44 24.4239 451.186 24.4058 450.95 24.4058C449.626 24.4058 448.574 25.0406 448.121 26.2376H448.085V24.5872H445.092V34ZM455.016 28.3233C455.198 27.1807 455.923 26.4008 457.011 26.4008C458.045 26.4008 458.789 27.2714 458.843 28.3233H455.016ZM461.926 30.0463C462.071 26.8542 460.385 24.3151 457.011 24.3151C454.237 24.3151 451.933 26.3827 451.933 29.2664C451.933 32.4221 454.019 34.272 457.084 34.272C459.188 34.272 461.201 33.329 461.763 31.1526H458.879C458.589 31.8418 457.864 32.1864 457.12 32.1864C455.814 32.1864 455.071 31.3339 455.016 30.0463H461.926ZM463.474 34H466.557V28.8674C466.557 27.8336 467.065 26.8542 468.226 26.8542C469.912 26.8542 469.767 28.1601 469.767 29.4477V34H472.85V27.9606C472.85 26.6003 472.597 24.3151 469.459 24.3151C468.335 24.3151 467.065 24.9136 466.503 25.8749H466.466V24.5872H463.474V34ZM475.161 24.4239H476.467C476.521 25.2582 475.959 25.9837 475.161 26.1288V27.5797C477.138 27.2532 478.026 25.8749 478.044 24.0612V21.0506H475.161V24.4239ZM479.793 30.8987C479.883 33.5285 482.169 34.272 484.399 34.272C486.521 34.272 488.915 33.4378 488.915 30.9168C488.915 30.1369 488.426 28.7586 486.521 28.3777C485.107 28.0694 483.039 27.9061 483.039 27.0175C483.039 26.3646 483.855 26.3101 484.363 26.3101C484.744 26.3101 485.089 26.3827 485.343 26.5459C485.596 26.7091 485.742 26.9631 485.742 27.3621H488.589C488.48 24.9136 486.322 24.3151 484.254 24.3151C482.404 24.3151 479.956 24.9318 479.956 27.1988C479.956 29.7379 482.386 29.7923 484.327 30.282C484.871 30.409 485.832 30.5541 485.832 31.2795C485.832 32.0231 484.98 32.277 484.381 32.277C483.946 32.277 483.529 32.1682 483.239 31.9506C482.93 31.7148 482.731 31.3702 482.731 30.8987H479.793ZM409.738 45.6754C409.647 42.5559 406.618 40.7785 403.825 40.7785C399.908 40.7785 397.369 43.771 397.369 47.5253C397.369 51.2795 399.908 54.272 403.825 54.272C407.108 54.272 409.556 52.3133 409.738 48.9762H406.364C406.237 50.4634 405.331 51.3702 403.753 51.3702C401.576 51.3702 400.742 49.4477 400.742 47.5253C400.742 45.6028 401.576 43.6804 403.753 43.6804C405.167 43.6804 406.183 44.3695 406.364 45.6754H409.738ZM413.978 51.2977C413.978 50.5541 414.558 50.2639 415.247 50.1007C415.918 49.9193 416.716 49.8649 417.152 49.5928C417.224 51.5334 416.735 52.3677 415.266 52.3677C414.576 52.3677 413.978 52.0594 413.978 51.2977ZM414.159 47.489C414.304 46.691 414.848 46.3101 415.701 46.3101C416.336 46.3101 417.188 46.5822 417.188 47.2895C417.188 47.8699 416.898 48.0512 416.372 48.1601C414.232 48.5953 410.895 48.3596 410.895 51.4246C410.895 53.3652 412.309 54.272 414.105 54.272C415.229 54.272 416.408 53.9456 417.206 53.1113C417.242 53.4196 417.279 53.7098 417.387 54H420.489C420.126 53.2564 420.126 52.3859 420.126 51.5879V47.4709C420.126 44.8048 417.968 44.3151 415.737 44.3151C414.667 44.3151 413.579 44.4965 412.745 44.968C411.91 45.4577 411.33 46.2557 411.276 47.489H414.159ZM422.153 54H425.091V52.9118H425.128C425.726 53.8005 426.633 54.272 427.721 54.272C430.677 54.272 431.929 51.7329 431.929 49.085C431.929 46.6366 430.623 44.3151 427.957 44.3151C426.796 44.3151 425.908 44.7504 425.273 45.621H425.236V41.0506H422.153V54ZM427.014 46.6729C428.374 46.6729 428.846 47.9968 428.846 49.1938C428.846 50.4815 428.374 51.9143 426.996 51.9143C425.599 51.9143 425.128 50.8443 425.128 49.1938C425.128 47.2532 426.18 46.6729 427.014 46.6729ZM433.686 54H436.769V44.5872H433.686V54ZM436.769 41.0506H433.686V43.4083H436.769V41.0506ZM438.944 54H442.027V48.8674C442.027 47.8336 442.535 46.8542 443.695 46.8542C445.382 46.8542 445.237 48.1601 445.237 49.4477V54H448.32V47.9606C448.32 46.6003 448.066 44.3151 444.929 44.3151C443.804 44.3151 442.535 44.9136 441.972 45.8749H441.936V44.5872H438.944V54ZM452.997 48.3233C453.179 47.1807 453.904 46.4008 454.992 46.4008C456.026 46.4008 456.77 47.2714 456.824 48.3233H452.997ZM459.907 50.0463C460.052 46.8542 458.366 44.3151 454.992 44.3151C452.217 44.3151 449.914 46.3827 449.914 49.2664C449.914 52.4221 452 54.272 455.065 54.272C457.169 54.272 459.182 53.329 459.744 51.1526H456.86C456.57 51.8418 455.845 52.1864 455.101 52.1864C453.795 52.1864 453.052 51.3339 452.997 50.0463H459.907ZM467.132 44.5872H465.227V41.7398H462.144V44.5872H460.584V46.5822H462.144V50.7717C462.144 53.329 462.815 54.0907 465.445 54.0907C466.007 54.0907 466.569 54.0181 467.132 54V51.7329C466.86 51.7329 466.587 51.7692 466.334 51.7692C465.662 51.7692 465.227 51.606 465.227 50.8624V46.5822H467.132V44.5872Z" fill="currentColor"/>
                <path d="M169.198 34H172.372V24.17H172.408L175.129 34H177.704L180.424 24.17H180.461V34H183.635V21.0506H178.665L176.434 29.6835H176.398L174.167 21.0506H169.198V34ZM188.419 31.2977C188.419 30.5541 188.999 30.2639 189.688 30.1007C190.359 29.9193 191.157 29.8649 191.592 29.5928C191.665 31.5334 191.175 32.3677 189.706 32.3677C189.017 32.3677 188.419 32.0594 188.419 31.2977ZM188.6 27.489C188.745 26.691 189.289 26.3101 190.142 26.3101C190.776 26.3101 191.629 26.5822 191.629 27.2895C191.629 27.8699 191.339 28.0512 190.813 28.1601C188.673 28.5953 185.335 28.3596 185.335 31.4246C185.335 33.3652 186.75 34.272 188.546 34.272C189.67 34.272 190.849 33.9456 191.647 33.1113C191.683 33.4196 191.719 33.7098 191.828 34H194.93C194.567 33.2564 194.567 32.3859 194.567 31.5879V27.4709C194.567 24.8048 192.409 24.3151 190.178 24.3151C189.108 24.3151 188.02 24.4965 187.185 24.968C186.351 25.4577 185.771 26.2557 185.716 27.489H188.6ZM205.445 24.5872H202.289L200.512 30.7173H200.475L198.698 24.5872H195.433L197.864 31.1344C198.045 31.6423 198.643 33.0932 198.643 33.601C198.643 34.2539 198.117 34.6529 197.41 34.6529H196.34V37.1557H197.791C199.877 37.1557 200.983 36.9018 201.727 34.8343L205.445 24.5872ZM208.965 29.3027C208.965 28.1057 209.4 26.6729 210.833 26.6729C212.266 26.6729 212.719 28.1057 212.719 29.3027C212.719 30.4997 212.266 31.9143 210.833 31.9143C209.4 31.9143 208.965 30.4997 208.965 29.3027ZM205.882 29.3027C205.882 32.1319 207.913 34.272 210.833 34.272C213.753 34.272 215.803 32.1319 215.803 29.3027C215.803 26.4734 213.753 24.3151 210.833 24.3151C207.913 24.3151 205.882 26.4734 205.882 29.3027ZM217.531 34H220.615V29.3389C220.615 28.1601 221.413 27.1081 222.936 27.1081C223.353 27.1081 223.716 27.1807 224.115 27.2895V24.4784C223.879 24.4239 223.625 24.4058 223.39 24.4058C222.066 24.4058 221.014 25.0406 220.56 26.2376H220.524V24.5872H217.531V34ZM225.362 24.4239H226.668C226.723 25.2582 226.16 25.9837 225.362 26.1288V27.5797C227.339 27.2532 228.228 25.8749 228.246 24.0612V21.0506H225.362V24.4239ZM228.621 30.8987C228.712 33.5285 230.997 34.272 233.228 34.272C235.35 34.272 237.744 33.4378 237.744 30.9168C237.744 30.1369 237.254 28.7586 235.35 28.3777C233.935 28.0694 231.868 27.9061 231.868 27.0175C231.868 26.3646 232.684 26.3101 233.192 26.3101C233.572 26.3101 233.917 26.3827 234.171 26.5459C234.425 26.7091 234.57 26.9631 234.57 27.3621H237.417C237.309 24.9136 235.15 24.3151 233.083 24.3151C231.233 24.3151 228.784 24.9318 228.784 27.1988C228.784 29.7379 231.215 29.7923 233.155 30.282C233.699 30.409 234.661 30.5541 234.661 31.2795C234.661 32.0231 233.808 32.277 233.21 32.277C232.774 32.277 232.357 32.1682 232.067 31.9506C231.759 31.7148 231.559 31.3702 231.559 30.8987H228.621ZM244.601 27.5253C244.601 31.2795 246.904 34.272 250.985 34.272C255.066 34.272 257.369 31.2795 257.369 27.5253C257.369 23.771 255.066 20.7785 250.985 20.7785C246.904 20.7785 244.601 23.771 244.601 27.5253ZM247.974 27.5253C247.974 25.6028 248.809 23.6804 250.985 23.6804C253.162 23.6804 253.996 25.6028 253.996 27.5253C253.996 29.4477 253.162 31.3702 250.985 31.3702C248.809 31.3702 247.974 29.4477 247.974 27.5253ZM259.751 34H262.834V26.5822H264.684V24.5872H262.834V24.17C262.834 23.3176 263.269 23.2269 263.977 23.2269C264.249 23.2269 264.521 23.2451 264.811 23.2814V21.105C264.321 21.0868 263.813 21.0506 263.324 21.0506C260.694 21.0506 259.751 21.8848 259.751 24.5872H258.264V26.5822H259.751V34ZM271.966 34H275.05V24.5872H271.966V34ZM275.05 21.0506H271.966V23.4083H275.05V21.0506ZM266.145 34H269.228V26.5822H271.078V24.5872H269.228V24.17C269.228 23.3176 269.663 23.2269 270.37 23.2269C270.642 23.2269 270.915 23.2451 271.205 23.2814V21.105C270.715 21.0868 270.207 21.0506 269.718 21.0506C267.088 21.0506 266.145 21.8848 266.145 24.5872H264.657V26.5822H266.145V34ZM286.357 28.0331C286.139 25.5484 284.053 24.3151 281.714 24.3151C278.685 24.3151 276.781 26.4552 276.781 29.4477C276.781 32.3314 278.884 34.272 281.714 34.272C284.217 34.272 286.175 32.8211 286.447 30.3002H283.455C283.31 31.2977 282.766 31.9143 281.696 31.9143C280.39 31.9143 279.864 30.6629 279.864 29.4477C279.864 28.1419 280.136 26.6729 281.859 26.6729C282.639 26.6729 283.346 27.2351 283.364 28.0331H286.357ZM290.615 28.3233C290.796 27.1807 291.521 26.4008 292.61 26.4008C293.643 26.4008 294.387 27.2714 294.441 28.3233H290.615ZM297.525 30.0463C297.67 26.8542 295.983 24.3151 292.61 24.3151C289.835 24.3151 287.531 26.3827 287.531 29.2664C287.531 32.4221 289.617 34.272 292.682 34.272C294.786 34.272 296.799 33.329 297.361 31.1526H294.478C294.187 31.8418 293.462 32.1864 292.718 32.1864C291.413 32.1864 290.669 31.3339 290.615 30.0463H297.525ZM305.464 34H308.547V26.5822H310.397V24.5872H308.547V24.17C308.547 23.3176 308.982 23.2269 309.69 23.2269C309.962 23.2269 310.234 23.2451 310.524 23.2814V21.105C310.034 21.0868 309.527 21.0506 309.037 21.0506C306.407 21.0506 305.464 21.8848 305.464 24.5872H303.977V26.5822H305.464V34ZM314.135 29.3027C314.135 28.1057 314.571 26.6729 316.003 26.6729C317.436 26.6729 317.89 28.1057 317.89 29.3027C317.89 30.4997 317.436 31.9143 316.003 31.9143C314.571 31.9143 314.135 30.4997 314.135 29.3027ZM311.052 29.3027C311.052 32.1319 313.083 34.272 316.003 34.272C318.923 34.272 320.973 32.1319 320.973 29.3027C320.973 26.4734 318.923 24.3151 316.003 24.3151C313.083 24.3151 311.052 26.4734 311.052 29.3027ZM322.702 34H325.785V29.3389C325.785 28.1601 326.583 27.1081 328.106 27.1081C328.523 27.1081 328.886 27.1807 329.285 27.2895V24.4784C329.049 24.4239 328.795 24.4058 328.56 24.4058C327.236 24.4058 326.184 25.0406 325.73 26.2376H325.694V24.5872H322.702V34ZM169.18 54H179.681V51.0982H172.553V48.6316H178.901V46.02H172.553V43.7529H179.499V41.0506H169.18V54ZM190.591 48.0331C190.374 45.5484 188.288 44.3151 185.948 44.3151C182.919 44.3151 181.015 46.4552 181.015 49.4477C181.015 52.3314 183.119 54.272 185.948 54.272C188.451 54.272 190.41 52.8211 190.682 50.3002H187.689C187.544 51.2977 187 51.9143 185.93 51.9143C184.624 51.9143 184.098 50.6629 184.098 49.4477C184.098 48.1419 184.37 46.6729 186.093 46.6729C186.873 46.6729 187.58 47.2351 187.599 48.0331H190.591ZM194.849 49.3027C194.849 48.1057 195.284 46.6729 196.717 46.6729C198.15 46.6729 198.603 48.1057 198.603 49.3027C198.603 50.4997 198.15 51.9143 196.717 51.9143C195.284 51.9143 194.849 50.4997 194.849 49.3027ZM191.766 49.3027C191.766 52.1319 193.797 54.272 196.717 54.272C199.637 54.272 201.687 52.1319 201.687 49.3027C201.687 46.4734 199.637 44.3151 196.717 44.3151C193.797 44.3151 191.766 46.4734 191.766 49.3027ZM203.307 54H206.39V48.8674C206.39 47.8336 206.898 46.8542 208.058 46.8542C209.745 46.8542 209.6 48.1601 209.6 49.4477V54H212.683V47.9606C212.683 46.6003 212.429 44.3151 209.292 44.3151C208.167 44.3151 206.898 44.9136 206.335 45.8749H206.299V44.5872H203.307V54ZM217.36 49.3027C217.36 48.1057 217.796 46.6729 219.228 46.6729C220.661 46.6729 221.115 48.1057 221.115 49.3027C221.115 50.4997 220.661 51.9143 219.228 51.9143C217.796 51.9143 217.36 50.4997 217.36 49.3027ZM214.277 49.3027C214.277 52.1319 216.308 54.272 219.228 54.272C222.148 54.272 224.198 52.1319 224.198 49.3027C224.198 46.4734 222.148 44.3151 219.228 44.3151C216.308 44.3151 214.277 46.4734 214.277 49.3027ZM225.818 54H228.901V49.4115C228.901 47.489 229.373 46.8542 230.479 46.8542C231.313 46.8542 231.64 47.5434 231.64 48.6497V54H234.723V49.3933C234.723 47.8699 234.85 46.8542 236.174 46.8542C236.972 46.8542 237.461 47.4527 237.461 48.4684V54H240.545V48.3777C240.545 46.5822 240.218 44.3151 237.226 44.3151C235.956 44.3151 235.031 44.8411 234.288 45.8386C233.78 44.696 232.728 44.3151 231.549 44.3151C230.406 44.3151 229.409 44.9318 228.847 45.8749H228.81V44.5872H225.818V54ZM242.717 54H245.8V44.5872H242.717V54ZM245.8 41.0506H242.717V43.4083H245.8V41.0506ZM257.097 48.0331C256.88 45.5484 254.794 44.3151 252.454 44.3151C249.426 44.3151 247.521 46.4552 247.521 49.4477C247.521 52.3314 249.625 54.272 252.454 54.272C254.957 54.272 256.916 52.8211 257.188 50.3002H254.196C254.05 51.2977 253.506 51.9143 252.436 51.9143C251.131 51.9143 250.605 50.6629 250.605 49.4477C250.605 48.1419 250.877 46.6729 252.6 46.6729C253.379 46.6729 254.087 47.2351 254.105 48.0331H257.097ZM264.084 47.5253C264.084 51.2795 266.387 54.272 270.468 54.272C274.548 54.272 276.852 51.2795 276.852 47.5253C276.852 43.771 274.548 40.7785 270.468 40.7785C266.387 40.7785 264.084 43.771 264.084 47.5253ZM267.457 47.5253C267.457 45.6028 268.291 43.6804 270.468 43.6804C272.644 43.6804 273.478 45.6028 273.478 47.5253C273.478 49.4477 272.644 51.3702 270.468 51.3702C268.291 51.3702 267.457 49.4477 267.457 47.5253ZM283.423 46.6729C284.783 46.6729 285.255 47.9968 285.255 49.1938C285.255 50.4815 284.783 51.9143 283.405 51.9143C282.008 51.9143 281.537 50.8443 281.537 49.1938C281.537 47.2532 282.589 46.6729 283.423 46.6729ZM278.562 57.1557H281.646V52.9844H281.682C282.317 53.8368 283.205 54.272 284.366 54.272C287.032 54.272 288.338 51.9506 288.338 49.5022C288.338 46.8542 287.086 44.3151 284.13 44.3151C283.042 44.3151 282.135 44.7867 281.537 45.6754H281.5V44.5872H278.562V57.1557ZM294.847 46.6729C296.207 46.6729 296.679 47.9968 296.679 49.1938C296.679 50.4815 296.207 51.9143 294.829 51.9143C293.432 51.9143 292.961 50.8443 292.961 49.1938C292.961 47.2532 294.012 46.6729 294.847 46.6729ZM289.986 57.1557H293.069V52.9844H293.106C293.74 53.8368 294.629 54.272 295.79 54.272C298.456 54.272 299.762 51.9506 299.762 49.5022C299.762 46.8542 298.51 44.3151 295.554 44.3151C294.466 44.3151 293.559 44.7867 292.961 45.6754H292.924V44.5872H289.986V57.1557ZM304.04 49.3027C304.04 48.1057 304.475 46.6729 305.908 46.6729C307.341 46.6729 307.794 48.1057 307.794 49.3027C307.794 50.4997 307.341 51.9143 305.908 51.9143C304.475 51.9143 304.04 50.4997 304.04 49.3027ZM300.957 49.3027C300.957 52.1319 302.988 54.272 305.908 54.272C308.828 54.272 310.877 52.1319 310.877 49.3027C310.877 46.4734 308.828 44.3151 305.908 44.3151C302.988 44.3151 300.957 46.4734 300.957 49.3027ZM312.606 54H315.689V49.3389C315.689 48.1601 316.487 47.1081 318.011 47.1081C318.428 47.1081 318.791 47.1807 319.19 47.2895V44.4784C318.954 44.4239 318.7 44.4058 318.464 44.4058C317.14 44.4058 316.088 45.0406 315.635 46.2376H315.599V44.5872H312.606V54ZM325.896 44.5872H323.992V41.7398H320.909V44.5872H319.349V46.5822H320.909V50.7717C320.909 53.329 321.58 54.0907 324.21 54.0907C324.772 54.0907 325.334 54.0181 325.896 54V51.7329C325.624 51.7329 325.352 51.7692 325.098 51.7692C324.427 51.7692 323.992 51.606 323.992 50.8624V46.5822H325.896V44.5872ZM336.627 44.5872H333.544V49.6291C333.544 51.2977 332.528 51.7329 331.857 51.7329C330.878 51.7329 330.334 51.2977 330.334 50.0463V44.5872H327.251V50.2458C327.251 52.7123 328.03 54.272 330.733 54.272C331.821 54.272 333.018 53.6735 333.598 52.7123H333.635V54H336.627V44.5872ZM338.692 54H341.776V48.8674C341.776 47.8336 342.284 46.8542 343.444 46.8542C345.131 46.8542 344.986 48.1601 344.986 49.4477V54H348.069V47.9606C348.069 46.6003 347.815 44.3151 344.678 44.3151C343.553 44.3151 342.284 44.9136 341.721 45.8749H341.685V44.5872H338.692V54ZM350.225 54H353.308V44.5872H350.225V54ZM353.308 41.0506H350.225V43.4083H353.308V41.0506ZM361.16 44.5872H359.255V41.7398H356.172V44.5872H354.612V46.5822H356.172V50.7717C356.172 53.329 356.843 54.0907 359.473 54.0907C360.035 54.0907 360.597 54.0181 361.16 54V51.7329C360.888 51.7329 360.615 51.7692 360.362 51.7692C359.691 51.7692 359.255 51.606 359.255 50.8624V46.5822H361.16V44.5872ZM371.383 44.5872H368.227L366.449 50.7173H366.413L364.636 44.5872H361.371L363.802 51.1344C363.983 51.6423 364.581 53.0932 364.581 53.601C364.581 54.2539 364.055 54.6529 363.348 54.6529H362.278V57.1557H363.729C365.815 57.1557 366.921 56.9018 367.665 54.8343L371.383 44.5872Z" fill="currentColor"/>
                <path d="M384.288 20.1895L384.288 52.6982" stroke="currentColor" stroke-width="0.342197"/>
              </svg>
            </div>

            <button class="o-attribution__toggle c-footer__link focus:text-color-white underline" data-js="toggle" aria-controls="aria-c-learn-more" aria-expanded="false">
              {{ __('Learn More', 'GUNY-Footer') }}<svg class="icon active__rotate" aria-hidden="true" style="width: 22px; height: 22px">
                <use xlink:href="#icon-caret-down"></use>
              </svg>
            </button>
          </div>

          <div id="aria-c-learn-more" aria-hidden="true" class="o-attribution__learn-more hidden">
            <p>{{ __('<a href="http://nyc.gov/opportunity" target="_blank" rel="nofollow noopener" class="c-footer__link focus:text-color-white underline" tabindex="-1">The Mayor’s Office for Economic Opportunity</a> uses evidence and innovation to reduce poverty and increase equity. It advances research, data and design in the City’s program and policy development, service delivery, and budget decisions. <a href="http://nyc.gov/opportunity" target="_blank" rel="nofollow noopener" class="c-footer__link focus:text-color-white underline" tabindex="-1">Learn more at nyc.gov/opportunity</a>.', 'GUNY-Footer') }}</p>

            <p class="mt-0">{{ __('<a href="http://nyc.gov/childrenscabinet" target="_blank" rel="nofollow noopener" class="c-footer__link focus:text-color-white underline" tabindex="-1">The NYC Children’s Cabinet</a> seeks to drive coordination across city agencies; develop new partnerships; and facilitate a holistic approach to serving children by aligning policies affecting children’s health, safety, and well-being. <a href="http://nyc.gov/childrenscabinet" target="_blank" rel="nofollow noopener" class="c-footer__link focus:text-color-white underline" tabindex="-1">Learn more at nyc.gov/childrenscabinet</a>.', 'GUNY-Footer') }}</p>
          </div>

          <div class="o-attribution__copyright o-attribution__flex">
            <div>
              <p class="small mb-2 tablet:m-0"><svg class="o-attribution__logo-nyc" style="width: 45px; height: 21px" width="45" height="21" viewBox="0 0 45 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44.063 6.55069L45 5.62603V2.81301L42.187 0H32.813L30 2.81301V0.939041L29.063 0H25.313L24.376 0.939041V2.81301L22.5 4.68904L20.626 2.81301V0.939041L19.687 0H15.937L15 0.939041L14.063 0H10.313L9.37603 0.939041V4.68904L4.68699 0H0.936986L0 0.939041V14.063L0.936986 15H4.68699L5.62603 14.063V10.313L10.313 15H14.063L15 14.063V6.56301L19.687 11.25V14.063L20.626 15H24.376L25.313 14.063V11.25L30 6.56301V12.189L32.813 15H42.187L45 12.189V9.37603L44.063 8.43699H39.374V9.37603H35.626V5.62603H39.374V6.55069H44.063Z" fill="currentColor"/>
                  <path d="M44.3322 0.632918C44.4206 0.632918 44.4966 0.624699 44.4966 0.521959C44.4966 0.435658 44.4123 0.425384 44.3425 0.425384H44.2007V0.632918H44.3322ZM44.2027 1.03566H44.0856V0.326754H44.3548C44.5253 0.326754 44.6137 0.386343 44.6137 0.530178C44.6137 0.659631 44.5356 0.711 44.4288 0.723329L44.6281 1.03566H44.4966L44.3137 0.731548H44.2048V1.03566H44.2027ZM44.3281 0.139768C44.0507 0.139768 43.8349 0.357576 43.8349 0.669905C43.8349 0.961685 44.024 1.20004 44.3281 1.20004C44.6034 1.20004 44.8192 0.984288 44.8192 0.669905C44.8192 0.357576 44.6034 0.139768 44.3281 0.139768ZM44.3281 1.311C43.9603 1.311 43.6973 1.03566 43.6973 0.669905C43.6973 0.283603 43.989 0.0288086 44.3281 0.0288086C44.663 0.0288086 44.9548 0.283603 44.9548 0.669905C44.9569 1.05415 44.6651 1.311 44.3281 1.311Z" fill="currentColor"/>
                </svg>{{ __('© City of New York,', 'GUNY-Footer') ~ ' ' ~ 'now' | date('Y') ~ ' ' ~ __('All Rights Reserved.', 'GUNY-Footer') }}
                <br>
                {{ __('NYC is a trademark and service mark of the City of New York.', 'GUNY-Footer') }}</p>
            </div>

            <nav class="o-attribution__nav" aria-label="Footer Tertiary Navigation">
              {% if footer_menu_left.id %}{% for m in footer_menu_left.get_items %}
              <a class="c-footer__link focus:text-color-white underline {{ m._menu_item_classes|join(' ') }}" href="{{ m.link }}"
              {% if m.attr_title != '' %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
              {% if m.target != '' %}target="{{ m.target }}"{% endif %}
              {% if m.xfn != '' %}rel="{{ m.xfn }}"{% endif %}>{{ m.title }}</a>
              {% endfor %}{% endif %}
            </nav>
          </div>
        </div>
      </footer> <!-- /.c-footer -->

      {# alert banner #}
      {% if not has_embed %}
        {% include 'banner-microsite.twig' %}
      {% endif %}
      {# alert banner end #}

      <a class="o-offcanvas__overlay" data-js="offcanvas-generationnyc" aria-hidden="true"></a>
    </div> <!-- /.o-offcanvas__main -->
  </div> <!-- /.o-offcanvas -->

  {{ function('enqueue_script', 'source') }}

  {{ wp_footer }}

</body>
</html>