{% if 'generationnyc' in current_url|split('/') %}
  {% set is_generation = 'true' %}
{% endif %}

{% extends is_generation ? "microsite-list.twig": "list.twig" %}

{% block head_extras %}
  {% if is_generation %}
  <style>
    .c-hero {
      background-color: #404657;
      background-image: url(/wp-content/themes/guny/assets/img/generation-hero-full-splatter.svg);
    }
  </style>
  {% else %}
  <style>
    .c-hero {
        background-color: #469BFF;
        background-image: url(/wp-content/themes/guny/assets/img/hero-full-splatter-2.svg);
    }
  </style>
  {% endif %}
{% endblock %}

{% block hero %}
<header class="c-hero u-lg-gutter" style="overflow:visible;position:relative;z-index:1">
  <div class="o-container-med">
    <h1 class="show-for-screen-reader">{{ __('Search Results', translation_domain) }}</h1>
    <div class="c-hero__search">{{ search }}</div>
  </div>
</header>
{% endblock %}

{% block list_sidebar %}
<ol class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false">
  {{ facet_post_type }}
</ol>
{% endblock %}

{% block post_list %}
<section class="c-block-list c-block-list--shade o-content-container u-sm-gutter">
  {{ results }}
</section>
{% endblock %}

{% block after_list %}
{% if posts %}
<div class="o-content-container--compact">
    {{ pagination }}
</div>
{% endif %}
{% endblock %}
