{% extends "base.twig" %}

{% block content %}
<header class="c-hero c-hero--light">
  <div class="o-container">
    <h1>{{post.title}}</h1>
    <p class="c-hero__tagline">
    {% for term in post.terms('tribe_events_cat') %}
      <a href="/events/?cat_id={{term.ID}}" class="button--pill">{{term.name}}</a>
    {% endfor %}
    {% for term in post.terms('age_group') %}
      <a href="/events/?age_id={{term.ID}}" class="button--pill button--pill--alt">{{term.name}}</a>
    {% endfor %}
    </p>
  </div> <!-- /.o-container -->
</header>
<section class="o-container u-bottom-spacing">
  <aside class="o-article-sidebar o-content-container--compact u-lg-gutter">
    <dl class="c-details-list">
      <dt class="c-details-list__term">Date</dt>
      <dd class="c-details-list__descr">
        {{post.start_date_full}}
        {% if post.multiday %}
          - {{post.end_date_full}}
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Time</dt>
      <dd class="c-details-list__descr">
        {% if post.all_day %}
          {{post.start_datetime|date('g:i A')}}
          {% if post.end_datetime != post.start_datetime %}
            - {{post.end_datetime|date('g:i A')}}
          {% endif %}
        {% else %}
          All Day
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Location</dt>
      <dd class="c-details-list__descr">
        {{post.venue}},
        {% for borough in post.terms('borough') %}
          {{borough.name}}
        {% endfor %}
      </dd>
      <dt class="c-details-list__term">Address</dt>
      <dd class="c-details-list__descr">
        {% if post.venue_address %}
          <span class="tribe-street-address">{{post.venue_address.address}}</span><br>
          <span class="tribe-locality">{{post.venue_address.city}}</span><span class="tribe-delimiter">,</span>
          <abbr class="tribe-region tribe-events-abbr" title="{{post.venue_address.full_region}}">{{post.venue_address.region}}</abbr>
          <span class="tribe-postal-code">{{post.venue_address.zip}}</span>
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Cost</dt>
      <dd class="c-details-list__descr">
        {% if post.event_cost %}
          {{post.event_cost}}
        {% else %}
          Free
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Accessibility</dt>
      <dd class="c-details-list__descr">{{post.accessibility}}</dd>
    </dl>
  </aside>
</section> <!-- /.o-container.u-bottom-spacing -->

<div class="tribe-events-schedule tribe-clearfix">
  {% if post.event_cost %}
    <span class="tribe-events-divider">|</span>
    <span class="tribe-events-cost">{{post.event_cost}}</span>
  {% endif %}
</div>

<div class="{{post.class}}">
  <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}">

  <div class="tribe-events-single-event-description tribe-events-content">
    {{post.content}}

    <div class="tribe-events-meta-group tribe-events-meta-group-details">
      <h3 class="tribe-events-single-section-title">Details</h3>
      <dl>
        {% if post.all_day and post.multiday %}
          <dt>Start:</dt>
          <dd>
            <abbr class="tribe-events-abbr tribe-events-start-datetime published dtstart">{{post.start_datetime|date('F j')}}</abbr>
          </dd>
          <dt>End:</dt>
          <dd>
            <abbr class="tribe-events-abbr dtend">{{post.end_datetime|date('F j')}}</abbr>
          </dd>
        {% elseif post.all_day %}
          <dt>Date:</dt>
          <dd>
            <abbr class="tribe-events-abbr tribe-events-start-datetime published dtstart">{{post.start_datetime|date('F j')}}</abbr>
          </dd>
        {% elseif post.multiday %}
          <dt>Start:</dt>
          <dd>
            <abbr class="tribe-events-abbr tribe-events-start-datetime published dtstart">{{post.start_datetime|date('F j')}}</abbr>
          </dd>
          <dt>End:</dt>
          <dd>
            <abbr class="tribe-events-abbr dtend">{{post.end_datetime|date('F j')}}</abbr>
          </dd>
        {% else %}
          <dt>Date:</dt>
          <dd>
            <abbr class="tribe-events-abbr tribe-events-start-datetime published dtstart">{{post.start_datetime|date('F j')}}</abbr>
          </dd>
          <dt>Time:</dt>
          <dd class="tribe-events-abbr tribe-events-start-time published dtstart">
            {{post.start_datetime|date('g:m a')}}
            {% if post.end_datetime != post.start_datetime %}
            - {{post.end_datetime|date('g:m a')}}
            {% endif %}
          </dd>
        {% endif %}
        <dt>Category:</dt>
        {% for term in post.terms('tribe_events_cat') %}
          <dd>{{term}}</dd>
        {% endfor %}
        {{post.tags()|join(',')}}
        {% if post.event_website %}
          <dt>Website:</dt>
          <dd><a href="{{post.event_website}}" target="_blank">Visit Website</a></dd>
        {% endif %}
      </dl>
    </div> <!-- /.tribe-events-meta-group -->
    <div class="tribe-events-venue-map">
      {{post.venue_map}}
    </div>
    <div class="tribe-events-footer">
      <h3 class="visuallyhidden">{{events_label_singular}} Navigation</h3>
      <ul class="tribe-events-sub-nav">
        <li class="tribe-events-nav-previous">{{post.prev_event_link}}</li>
        <li class="tribe-events-nav-next">{{post.next_event_link}}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
