{% extends 'base.twig' %}

{% block head_extras %}
	<style>
		.alert {
			background: rgba(255, 220, 84, 0.75);
			padding: 1.75rem 0;
			margin-top: 25px;
		}
	</style>
{% endblock %}


{% block content %}

  <div class="js-parallax">
    <header class="c-hero c-hero--large c-hero--long-text bg-pure-orange bg-splatter-pure-orange js-parallax-content">
      <div class="o-container js-parallax-text">

        <h1 class="c-hero__title--long">
          <span class="c-hero__sticker sticker bg-vivid-orange">
            <svg aria-hidden="true" class="icon--medium"><use xlink:href="#icon-summer-guides"></use></svg>
          </span>

          {{ post.title }}
        </h1>

        <p class="c-hero__tags">
          {% for term in post.terms('age_group') %}
            <a href="{{summer_link}}?ages={{term.slug}}" class="button--pill bg-bright-red hover:bg-vivid-orange">{{term.name}}</a>
            {% endfor %}
          {% for term in post.terms('summer_programs_cat') %}
            <a href="{{summer_link}}?interests={{term.slug}}" class="button--pill bg-vivid-orange hover:bg-bright-red">{{term.name}}</a>
            {% endfor %}
          {% for term in post.terms('activity_type') %}
            <a href="{{summer_link}}?activity_types={{term.slug}}" class="button--pill bg-vivid-orange hover:bg-bright-red">{{term.name}}</a>
          {% endfor %}
        </p>
      </div>
    </header>
  </div>

  <article class="o-container u-bottom-spacing-small js-sticky-container">

    {% if sections %}
    <aside class="o-article-sidebar">
      <div class="o-content-container--compact u-shift-up">
        <ol class="c-nav-list js-sticky js-section-set o-sticky-nav">

          {% for section in sections %}
          {% if section.section_title %}
          <li class="c-nav-list__item">
            <a class="js-section c-nav-list__link bg-vivid-orange border-vivid-orange hover:border-bright-red hover:bg-bright-red" href="#section-{{ section.slug }}" data-section="section-{{ section.slug }}">
              {{ section.section_title }} {# translation comes from page content #}
              <svg aria-hidden="true" class="icon--caret">
                <use xlink:href="#icon-caret-right"></use>
              </svg>
            </a>
          </li>
          {% endif %}
          {% endfor %}

        </ol>
      </div>
    </aside>
    {% endif %}

    <div class="o-article js-sticky-article">
      {% if program_page_alert != '' %}
        <div class="alert">
          <div class="o-container">
            {{program_page_alert}}
          </div>
        </div>
      {% endif %}
      <div class="o-content-container--compact">

        {% if post.content %}
        <section class="o-content-container--text s-wysiwyg u-top-spacing u-bottom-spacing-small" data-id="section-summary">
          {{ post.content }} {# translation comes from page content #}
        </section>
        {% endif %}

        {% if sections %}
          {% set section_previous = true %}
          {% set section_no_divider_after = ['newsletter-signup', 'related-events'] %}
          {% for key, section in sections %}

            {% include 'partials/' ~ section.acf_fc_layout ~ '.twig' with {title: section.section_title, id: 'section-' ~ section.slug, class: ''} %}

            {% if section_previous and section_previous in section_no_divider_after %}<hr>{% endif %}

            {% set section_previous = section.acf_fc_layout %}

          {% endfor %}
        {% endif %}

      </div>
    </div>

  </article>

{% endblock %}
