{% extends "microsite-base.twig" %}

{% block head_extras %}
<style>
  .c-hero { background-image: url({{TimberImage(post.hero_banner).src|resize(480,161)}}); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .c-hero { background-image: url({{TimberImage(post.hero_banner).src|resize(960,322)}}); }
  }
  @media (min-width:480px) {
    .c-hero { background-image: url({{TimberImage(post.hero_banner).src|resize(700,235)}}); }
  }
  @media (min-width:480px) and (-webkit-min-device-pixel-ratio: 2), (min-width:480px) and (min-resolution: 192dpi) {
    .c-hero { background-image: url({{TimberImage(post.hero_banner).src|resize(1400,470)}}); }
  }
  @media (min-width:700px) {
    .c-hero { background-image: url({{TimberImage(post.hero_banner).src}}); }
  }
</style>
{% endblock %}

{% block content %}
  <header class="c-hero c-hero--large u-lg-gutter"></header>
  <section class="o-container u-bottom-spacing u-top-spacing-small">
    <aside class="o-article-sidebar o-article-ms-sidebar o-content-container--compact u-lg-gutter">
      <dl class="c-details-list c-details-list-ms">
        <dd class="c-details-list__descr c-details-list-ms__descr c-prof-name"><h2>{{post.prof_name}}, {{post.prof_age}}</h2></dd>
        {#<dt class="c-details-list__term c-details-list-ms__term">{{ __('Cost', 'GUNY-Single-Inspiration') }}</dt>#}

        <dd class="c-details-list__descr c-details-list-ms__descr c-prof-country">{{post.prof_country}}, {{post.prof_citystate}}</dd>
        
        <dd class="c-details-list__descr c-details-list-ms__descr c-prof-intro">{{post.intro__overview}}</dd>
      </dl>
    </aside>
    <article class="o-article o-article-ms o-content-container--compact">
      <div class="o-content-container--text s-wysiwyg">
        
        {# Section One #}
        <section class="o-content-container--compact c-page-top-content u-bottom-spacing" id="section-one">
          {% for top in post.get_field('page_top') %}
            <h2 class="u-lg-gutter" id="{{top.page_top_content_heading|lower|replace({' ':'-'})}}">{{top.page_top_content_heading}}</h2>
            {{top.page_top_content_text}}
          {% endfor %}
        </section>

        {# Section Inspirations #}
        {% if post.inspiration_posts %}
        <section class="c-other-inspirations">
          <h3 class="c-other-inspirations__title">Other Inspirations</h3>
          <li class="c-nav-list__item">
            {% for inspiration in post.get_field('inspiration_posts') %}
              {% set inspiration = TimberPost(inspiration) %}
              <div class="c-block-list__item">
                {% include ['partials/teaser-'~inspiration.post_type~'.twig', 'partials/teaser.twig'] with {post: inspiration, is_first: loop.first, age_group: post.title} %}                
              </div>
            {% endfor %}
          </li>
        </section>
        {% endif %}

        {# Section Two #}
        <section class="o-content-container--compact u-top-spacing u-bottom-spacing-small" id="section-two">
          {% for bottom in post.get_field('page_bottom') %}
            <h2 id="{{bottom.page_bottom_content_heading|lower|replace({' ':'-'})}}">{{bottom.page_bottom_content_heading}}</h2></a>
            {{bottom.page_bottom_content_text}}
          {% endfor %}
        </section>

        {# Tip #}
        {% if post.tip %}
        <aside class="c-tip u-sm-gutter {{post.age_group.slug|sanitize|replace({'-es':''})}}-secondary o-content-container">
          <div class="c-tip__sticker sticker {{post.age_group.slug|sanitize|replace({'-es':''})}}-secondary">
            <svg class="icon--large" role="img"><title>Tip</title><use xlink:href="#lightbulb"></use></svg>
          </div>
          <p class="c-tip__content">{{post.tip}}</p>
          <footer class="c-tip__footer">
            {% if post.tip_action_heading %}
              <p>{{post.tip_action_heading}}</p>
              {% if post.sms_text or post.website_link %}
                <p>
                  {{post.sms_text}}{% if post.sms_text and post.website_link %}, or{% endif %}
                  {% if post.website_link %}<a href="{{post.website_link}}" class="c-tip__link" target="_blank">find out more here</a>{% endif %}.
                </p>
              {% endif %}
            {% endif %}
          </footer>
        </aside>
        {% endif %} 
      </div> <!-- /.o-article -->
    </article>
  </section>
{% endblock %}
