{% extends "base.twig" %}

{% block content %}
<header class="c-hero c-hero--light">
  <div class="o-container">
    <h1>{{post.title}}</h1>
    <p class="c-hero__tagline">
    {% for term in post.terms('tribe_events_cat') %}
      <a href="/events/?cat_id={{term.ID}}" class="button--pill">{{term.name}}</a>
    {% endfor %}
    {% for term in post.terms('age_group') %}
      <a href="/events/?age_id={{term.ID}}" class="button--pill button--pill--alt">{{term.name}}</a>
    {% endfor %}
    </p>
  </div> <!-- /.o-container -->
</header>
<section class="o-container u-bottom-spacing">
  <aside class="o-article-sidebar o-content-container--compact u-lg-gutter">
    <dl class="c-details-list">
      <dt class="c-details-list__term">Date</dt>
      <dd class="c-details-list__descr">
        {{post.start_date_full}}
        {% if post.multiday %}
          - {{post.end_date_full}}
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Time</dt>
      <dd class="c-details-list__descr">
        {% if post.all_day %}
          {{post.start_datetime|date('g:i A')}}
          {% if post.end_datetime != post.start_datetime %}
            - {{post.end_datetime|date('g:i A')}}
          {% endif %}
        {% else %}
          All Day
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Location</dt>
      <dd class="c-details-list__descr">
        {{post.venue}},
        {% for borough in post.terms('borough') %}
          {{borough.name}}
        {% endfor %}
      </dd>
      <dt class="c-details-list__term">Address</dt>
      <dd class="c-details-list__descr">
        {% if post.venue_address %}
          <span class="tribe-street-address">{{post.venue_address.address}}</span><br>
          <span class="tribe-locality">{{post.venue_address.city}}</span><span class="tribe-delimiter">,</span>
          <abbr class="tribe-region tribe-events-abbr" title="{{post.venue_address.full_region}}">{{post.venue_address.region}}</abbr>
          <span class="tribe-postal-code">{{post.venue_address.zip}}</span>
        {% endif %}
      </dd>
      <dt class="c-details-list__term">Cost</dt>
      <dd class="c-details-list__descr">
        {% if post.event_cost %}
          {{post.event_cost}}
        {% else %}
          Free
        {% endif %}
      </dd>
      {% if post.accessibility %}
        <dt class="c-details-list__term">Accessibility</dt>
        <dd class="c-details-list__descr">{{post.accessibility}}</dd>
      {% endif %}
    </dl>
  </aside>
  <article class="o-article o-content-container--compact">
    <div class="o-content-container--text s-wysiwyg">
      {% if post.summary %}
      <h2>About This Event</h2>
      {{post.get_field('summary')}}
      {% endif %}
      {% if post.image %}
      <img src="{{post.image.src}}" alt="{{post.image.alt}}" class="media">
      {% endif %}
      <h3>Location Details</h3>
      {{post.location_details}} <a href="{{post.google_directions_link}}" target="_blank">Get directions to the location.</a>
      {{post.venue_map}}
      {% if post.organizer %}
      <h3>Event Organizer</h3>
      <p>{{post.organizer}}</p>
      {% endif %}
      {% if post.organizer_phone %}
      <h3>Phone Number</h3>
      <p><a href="tel:{{post.organizer_phone}}">{{post.organizer_phone}}</a></p>
      {% endif %}
      {% if post.organizer_email %}
      <h3>Email Address</h3>
      <p><a href="mailto:{{post.organizer_email}}" rel="nofollow">{{post.organizer_email}}</a></p>
      {% endif %}
      {% if post.organizer_link %}
      <h3>Website</h3>
      <p><a href="{{post.organizer_link}}" target="_blank">{{post.organizer_link}}</a></p>
      {% endif %}
    </div> <!-- /.o-content-container-text -->
  </article>
</section> <!-- /.o-container.u-bottom-spacing -->
{% endblock %}
