<header class="o-navigation">
	<div class="o-container">
		<a href="{{site.url}}" class="o-navigation__logo-wrapper o-navigation__logo-wrapper-no-menu">
			<span class="o-navigation__logo">{{site.name}}</span>
		</a>
		<nav class="o-navigation__nav" role="navigation" aria-label="Primary">
			<ul class="o-inline">
				{% for menu_item in menu.get_items %}
					<li class="o-inline__item">
						<a href="{{menu_item.link}}" class="o-navigation__nav-link">{{menu_item.title}}</a>
					</li>
				{% endfor %}

				<li class="o-inline__item">
					<a href="#ages" data-js="offcanvas-ages" data-toggle="offcanvas-ages" class="o-navigation__nav-link">{{ __('Ages', 'GUNY-Primary-Menu') }}</a>
				</li>

				{% if function('Search\\visible') %}
					<li class="o-inline__item">
						<a class="o-navigation__nav-link" href="#search" data-toggle="overlay-search" data-toggle-class="fadeInDown">
							<svg class="o-navigation__icon o-navigation__icon__search" role="img">
								<title>{{__('Search', 'GUNYC')}}</title>
								<use xlink:href="#icon-search"></use>
							</svg>
							<svg class="o-navigation__icon o-navigation__icon__close" role="img">
								<title>{{__('Search', 'GUNYC')}}</title>
								<use xlink:href="#icon-close"></use>
							</svg>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>

{% if function('Search\\visible') %}
	{% include 'partials/search-overlay.twig' %}
{% endif %}

{# Offcanvas Overlay #}
<a class="o-offcanvas__overlay" data-js="offcanvas-ages" aria-hidden="true"></a>

